[2017-02-01 21:52] Raymondd commented on #658
I don't think this is related to SqlDw.
`CREATE DATABASE TestDW (SERVICE_OBJECTIVE='DW100');`
Will also produce the issue, regardless of what type of database you connect to.

[2017-02-01 22:27] Raymondd opened #663 "Edition keyword highlighting"
- MSSQL Extension Version: 0.2.0 alpha 18
- VSCode Version: 1.8.1
- OS Version: Win 10 x64

Steps to Reproduce:

1. enter into sql file:
`CREATE DATABASE TestDW (EDITION = 'datawarehouse', SERVICE_OBJECTIVE='DW100'); `

Expected:
Edition should be properly highlighted in blue.

Actual:
Edition is not highlighted.
![edition_formatting](https://cloud.githubusercontent.com/assets/3318689/22496768/7bd

[2017-02-01 22:54] #660 closed

[2017-02-01 23:48] #663 closed

[2017-02-02 00:51] coquagli commented on #614
Closing as out of scope for VS Code extension.

[2017-02-02 00:51] #614 closed

[2017-02-02 02:40] mjbvz opened #666 "Cannot connect to SQL Server"
_From @nivek7 on February 1, 2017 17:26_

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|mssql|ms-mssql|0.2.0|

---

I am unable to connect to a SQL Server instance using VSCode and mssql 0.2.0.

I am able to successfully connect to this server using other SQL

[2017-02-02 02:44] mjbvz opened #667 "Cannot use Visual Studio Code (mssql extension) to connect to Azure SQL Data Warehouse"
_From @kevinvngo on February 2, 2017 0:1_

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|mssql|ms-mssql|0.2.0|

---

Steps to Reproduce:

1.  Ctrl + shift + p
2.  Connect to database
3.  Connect to an Azure SQL Data Warehouse instance
     FAILS WITH

[2017-02-02 16:17] kayessaych opened #668 "Pasted columns into CSV in Excel from Results panel add extra blank column"
- MSSQL Extension Version: 0.2.0
- VSCode Version: 1.8.1
- OS Version: Windows 7 Enterprise - 64-bit  - SP1

Steps to Reproduce:

1.  open new file
2.  switch language to sql
3.  connect to db
4.  run select query
5.  select column from results with cursor
6.  copy
7.  paste to CSV already open in excel (2013)
8.  column pastes correctly but extra blank column overwrites column to the immediate ri

[2017-02-02 19:40] bijuchacko opened #669 "Results Panel not Refreshing Automatically"
- MSSQL Extension Version: 0.2.0
- VSCode Version: 1.9.0
- OS Version: Windows 10

Just upgraded to stable version 1.9.0 and noticed that the results panel does not refresh automatically every time I run the query. It used to work fine with the previous version of VSCode.

Steps to Reproduce:

1. Execute a query
2. Modify the query and run again, the results pane will not automatically refresh wit

[2017-02-02 19:44] kevcunnane commented on #669
We've discovered this ourselves - this is due to a breaking change in VSCode. See https://github.com/Microsoft/vscode/issues/19732 for the tracking issue there. We are actively investigating a workaround in our own extension code so that we can release a hotfix version and unblock users.

I would recommend you adding your voice to the VSCode issue also - this will help get this raised as a breakin

[2017-02-02 19:47] kevcunnane commented on #667
@mjbvz - this has been fixed and our current daily build https://github.com/Microsoft/vscode-mssql/releases/tag/v0.2.0-alpha.26 has the fix available. If you'd like to test and verify this you can uninstall MSSQL extension, then download the mssql-0.2.0.vsix from https://github.com/Microsoft/vscode-mssql/releases/download/v0.2.0-alpha.26/mssql-0.2.0.vsix and choose "Install from VSIX" in the drop-

[2017-02-02 19:47] #667 closed

[2017-02-02 19:48] kevcunnane commented on #657
Closing to use #669 as our main tracking issue for this, since it's a user-raised issue and has updated information.

[2017-02-02 19:48] #657 closed

[2017-02-02 20:19] PierreRossouw commented on #642
I believe the next version of vscode-mssql has a setting for removing the extra newlines when copying from the grid, which should also solve your problem?

.vscode/settings.json

"mssql.copyRemoveNewLine" : true

[2017-02-02 20:35] taranttini commented on #642
So thanks,

[2017-02-02 20:40] egamma commented on #669
@bijuchacko we (the VS Code team is definitly listening). Thanks for the reproducable steps, we will look into this.

[2017-02-02 22:33] bijuchacko commented on #669
@kevcunnane @egamma Thanks for the prompt response. I have downgraded to 1.8.1, thank you so much for this awesome editor and extension!

[2017-02-02 23:26] kevcunnane commented on #666
What SQL Server version are you connecting to? When investigating a similar issue report (https://github.com/Microsoft/vscode-mssql/issues/638#issuecomment-275648501) I found that there's an issue in .Net Core connecting to SQL Server 2008 R2 instances that haven't been updated to Service Pack 3. If this is a SQL Server 2008 R2 connection, I'd recommend seeing if you can connect to a version with

[2017-02-02 23:32] kevcunnane commented on #659
Thanks for raising this. We will take a look as this isn't the expected behavior - as far as I can tell we should be handling this event but it's not working right now.

[2017-02-02 23:35] kevcunnane commented on #652
Well, things to check are whether it happens on our latest alpha release (https://github.com/Microsoft/vscode-mssql/releases/tag/v0.2.0-alpha.26) in case we fixed it while doing a number of related fixes in our codebase. I'll keep trying to reproduce too, I'm struggling to understand why this issue went away for me / is inconsistent while it's reliable for you.

Also: what version of macOS are you

[2017-02-03 00:51] kevcunnane commented on #669
We've traced the issue on our side and have a fix that we'll be able to apply as an extension update.

**HotFix information**
Ensure that `TextDocumentContentProvider.provideTextDocumentContent` always provides an updated string when being refreshed.

**Root cause**
We implement `TextDocumentContentProvider` to represent our results. This expects you to fire an `onDidChange` event whenever you wan

[2017-02-03 01:16] benrr101 opened #671 "Tools Service Travis CI build on OSX frequently timing out"
The last week or so, the Travis CI build for the tools service has been failing because the OSX build has been timing out. This is becoming quite frequent, requiring a retry that often works.

[2017-02-03 02:24] kevcunnane commented on #669
@bijuchacko @egamma - The fix for this is now released as version 0.2.1. If you update MSSQL from the Extensions tab you should no longer see this issue. Thank you for raising this and I hope you enjoy using our extension inside VSCode 1.9.0 now this issue is resolved.

[2017-02-03 02:29] #669 closed

[2017-02-03 02:59] mathsalmi commented on #652
Great news! I downloaded the recent release of VSCode (1.9.0) and your alpha release (.26) and the problem is gone. I can't confirm what fixed the problem (vscode upgrade or the alpha release) but so far so good!

Thanks for your help!

[2017-02-03 03:04] mathsalmi commented on #652
FYI: I uninstalled the alpha release .26 and reinstalled the stable version and it works fine so I guess the problem was caused by vscode 1.8.1.

[2017-02-03 03:04] #652 closed

[2017-02-03 07:48] egamma commented on #669
@kevcunnane great 🌹

[2017-02-03 08:03] Raymondd commented on #671
It might be related to the OSX Emergency maintence/outage they had on Feb 1 and 2.
https://www.traviscistatus.com/incidents/k79mjcv403c4

[2017-02-03 13:30] nivek7 commented on #666
The version that I am connecting to is:
Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Enterprise Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1)

[2017-02-03 18:25] renzska opened #672 "Go To Definition/Peek Definition not working on Stored Procedure or View on 0.2.1"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.0
- OS Version: MacOS Sierra 10.12.3

I'm trying to look at the definition of a stored proc and it's not working.

Steps to Reproduce:

1. Open SQL document
2. Run a Select * from dbo.TABLE query
3. Choose RW connection
4. Run EXEC dbo.sp_customstoredprod
5. Right-click on stored proc and choose Go To Definition or Peek Definition (or F12 or C

[2017-02-03 19:10] kevcunnane commented on #672
@sharonravindran can you look into this? In trying to reproduce I created 2 stored procedures (`dbo.P1` and `dbo.sp_customstoredprod`) with the exact same T-SQL definition. Somehow 1 is being found by PeekDefinition and the other is not. We need to improve reliability here and understand why this would fail given the intellisense binding for both works. Note that in my case, `sp_customstoredprod`

[2017-02-03 19:14] kevcunnane opened #674 "Executing USE statements in T-SQL does"
- MSSQL Extension Version: Dev branch
- VSCode Version: 1.9.0 (Insiders build)
- OS Version: macOS

Steps to Reproduce:

1. Connect to a database (e.g. master)
2. Write & execute the T-SQL `USE TestDb`, where TestDb is a database on the same server

Expected:
- UI shows is switched to TestDB

![image](https://cloud.githubusercontent.com/assets/10819925/22604737/ca684e1e-ea01-11e6-8f78-223129aac59d

[2017-02-03 21:49] #645 closed

[2017-02-03 21:50] kevcunnane commented on #674
Assigning to Connor - his fix in the SqlToolsService looks like it fixes this issue. @coquagli, please verify your fix once it's in a daily drop by updating the sqltoolsservice version in this repository (and check this in). Thanks.

[2017-02-03 22:50] kevcunnane commented on #666
OK - that matches the other reported issue. The problem is that .Net Core does not support connecting to SP1, and the recommended solution is upgrading the server to SP3. The reference issue in the CoreFx repository is https://github.com/dotnet/corefx/issues/9719. I'll leave this issue open to track the bug, but unfortunately we're blocked unless SqlClient in CoreFx is changed to support this.

[2017-02-04 00:09] Raymondd opened #676 "PreviewHtml API usage throws an error"
Our usage of the previewHtml command to vscode throws and error due to incorrect usage.
Pointed out in this issue with vscode: https://github.com/Microsoft/vscode/issues/19654

[2017-02-04 01:14] kevcunnane commented on #652
Glad it is fixed. This is quite a strange one but hopefully whatever weirdness caused this (Chromium version, perhaps?) is gone away for good with 1.9.0

[2017-02-04 01:50] sharonravindran opened #678 "Modify peek definition code after fix to ConnectedBindingQueue and ConnectionService."
Modify peek definition connection code after the fix to ConnectedBindingQueue and ConnectionService.

PR : https://github.com/Microsoft/sqltoolsservice/pull/220

[2017-02-04 01:52] sharonravindran commented on #644
The fix for this bug was merged to dev.

[2017-02-04 01:52] #644 closed

[2017-02-05 03:39] nivek7 commented on #666
Our database is hosted. Coincidentally, it is being update this weekend to SQL 2014, so my issue should be remedied by Monday. Thank you for you help.

[2017-02-06 07:40] lw-schick opened #679 "[UX] Query execution time during query is running"
- MSSQL Extension Version: 0.2.1
- VSCode Version: Version 1.9.0 (Commit 27240e71ef390bf2d66307e677c2a333cebf75af)
- OS Version: Windows 7 SP 1

Steps to Reproduce:

1. Run a Query that runs long
2. Show in the Result window during the query runs

I see:

after the query is finished, i see:

During the query runs the "Total execution time" is always 00:00:00 until the query is finished. It would b

[2017-02-06 18:08] kevcunnane commented on #666
@nivek7 glad it'll be resolved. I followed up with the Connectivity team and there is a good reason for this limitation - see https://github.com/dotnet/corefx/issues/5187. Basically any fix to support this would open up a vulnerability, so they will always require SQL Server instances to be on SP3. As such, I am going to close out the issue since it's by design.

[2017-02-06 18:08] #666 closed

[2017-02-06 18:49] sharonravindran commented on #672
@renzska Can you give us more details on step 3? Are you connecting to a different database? Do you see 'Updating Intellisense' in the status bar below after step 3?

[2017-02-06 19:14] #676 closed

[2017-02-06 19:27] afoliaco opened #680 "View Table Definition time out"
- MSSQL Extension Version: 0.02.1
- VSCode Version: 1.9
- OS Version: MACOS Sierra 10.12.3

Steps to Reproduce:

1. Right click on the table view definition
2. Nothing happens

Logs

Error - 2:12:15 PM] Request textDocument/definition failed.
  Message: Operation timed out.
  Code: undefined

[2017-02-06 23:51] Raymondd commented on #578
Going to close this, for now.

[2017-02-06 23:51] #578 closed

[2017-02-07 00:40] Raymondd commented on #658
After talking to Chris, this syntax is only valid for creating Azure databases, and Azure databases have intellisense deliberately turned off for multiple reasons (including this syntax difference issue). Should we also disable intellisense when connected to an Azure instance?

[2017-02-07 10:04] nilslueders opened #681 "Copy results to clipboard does not work"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.0
- OS Version: ubuntu 16.04 LTS

Steps to Reproduce:
1. Execute any query
2. Select any from the results table
3. Press Ctrl+C (or click on "Copy" or click on "Copy with Headers" in the context menu)

Expected behavior: The selected Text was copied to the clipboard

Actually behavior: Nothing was copied to the clipboard. (Also, the current co

[2017-02-07 10:32] lw-schick opened #682 "MDX / SSAS suport"
Would be nice to have MDX / SQL Server Analytics Service support to simply run MDX queries.

[2017-02-07 11:40] mathsalmi commented on #681
Same happens here.

![vscode](https://cloud.githubusercontent.com/assets/1981698/22689733/6d41ebb2-ed19-11e6-9921-c39569ef9dd8.gif)

[2017-02-07 18:06] kevcunnane commented on #668
Thanks for raising this - we will work to reproduce and get back to you.

[2017-02-07 18:16] kevcunnane commented on #682
Thanks for raising this. #367 covers this request already, so I'm going to close this and keep that issue as our tracker. As Eric mentioned in that thread, we've sent this suggestion to the AS team but they don't have immediate plans to support this.

[2017-02-07 18:16] #682 closed

[2017-02-07 18:19] kevcunnane commented on #658
Azure intellisense works in SSDT, as far as I know. Therefore it's a valid request to fix this.

[2017-02-07 19:42] coquagli opened #683 "Results view does not adjust well to zoom in and zoom out"
Steps to Reproduce:
1. Execute a query
2. Use Ctrl + and Ctrl - to change the zoom level

It looks like we do not react well to changes to the zoom level, decreasing ease of usability.

Default zoom level:
![image](https://cloud.githubusercontent.com/assets/24420239/22708108/fb734006-ed29-11e6-9420-6fa4063e3275.png)

Zoomed in 2 levels:
![image](https://cloud.githubusercontent.com/assets/24420239/

[2017-02-07 23:06] sharonravindran commented on #680
@afoliaco - Was it an Azure DB you were connecting to? Did it time out for other kinds of objects like 'views'?

[2017-02-08 00:49] abist commented on #681
Hey @nilslueders and @mathsalmi, thanks for bringing this to our attention. Can you please verify whether your Linux machine has xclip installed? The copy-paste command needs xclip to work, and it might be possible that it's not installed on your machine.

You can install it by running "sudo apt-get install xclip". Please let me know if it still doesn't work.

[2017-02-08 00:51] abist opened #686 "Get more tests for BatchParserWrapper and ExecutionEngine"
Write more tests for the BatchParserWrapper class as well as the ExecutionEngine class. These classes have low code coverage in coveralls right now, and can be definitely be increased. Put this task from sqltoolsservice to vscode-mssql.

[2017-02-08 10:09] mathsalmi commented on #681
Touché! Now it works like a charm. Would it be possible to improve the behavior of the plugin in these cases? I don't know maybe show a required dependency on the console or something.

Thanks for your help!

[2017-02-08 11:26] nilslueders commented on #681
Thanks @abist ! Its working now. (I agree with @mathsalmi .)
Also, thank you very much for this absolutely great code editor!

[2017-02-08 11:26] #681 closed

[2017-02-08 14:56] afoliaco commented on #680
Sorry for the late reply, I'm connecting to a server in our network, I'm able to connect with no problem and run SQL with no issue I also check with our DBA and the account is a db owner.

[2017-02-08 15:32] sainawkham commented on #600
I also have this issue when trying to connect localDB from vscode with mssql extension.

-----------------------------
[9:51:01 PM] Error connecting to server "sqllocalDB\MyTestingDB". Details: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Ser

[2017-02-08 16:54] afoliaco opened #687 "HTML not been scape correctly on Result Grid"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9
- OS Version: macOS Sierra 10.12

Steps to Reproduce:

1. Run a SQL that have html text store in one of the columns
2.The resulting grid does not render correctly

see file attached.

![screen shot 2017-02-08 at 11 49 24 am](https://cloud.githubusercontent.com/assets/5281768/22747285/ac848650-edf4-11e6-9fe6-8f923e2e3ead.png)

[2017-02-08 18:25] abist commented on #681
@mathsalmi @nilslueders Thanks! Will definitely change the behavior of the plugin.

[2017-02-08 18:32] Raymondd commented on #687
This issue is a duplicate of #587. It has already been addressed in https://github.com/Microsoft/vscode-mssql/pull/604. Thanks for letting us know anyway!

[2017-02-08 18:32] #687 closed

[2017-02-08 18:59] abist opened #688 "Change behavior for copy-paste error handling"
Often Linux OS such as Ubuntu 16.04 LTS don't have xclip installed. This causes copy-paste to not work unless you explicitly install xclip. We should change this behavior by explicitly asking the user to install it if an error occurs.

[2017-02-08 19:28] kevcunnane commented on #683
This is a duplicate of #280 - we're blocked on Chromium issues with a WebView which require a fix in Chromium, then updates to Chromium (in Electron) and Electron (in VSCode). It's likely this will be around for a while unfortunately. Closing since we have a bug tracking it.

[2017-02-08 19:28] #683 closed

[2017-02-08 19:28] kevcunnane commented on #679
This is a valid request, we'll definitely consider implementing this.

[2017-02-08 20:36] kevcunnane commented on #600
@sainawkham can you connect from other tools or from your app code? Generally localdb server connections should be in the format `(localdb)\MSSqlLocalDb` or `(localdb)\MyInstance`. I verified this works fine for me and would suspect the issue is using `sqllocalDB` instead of `(localdb)`. Similarly, is `MyTestingDb` your database name? If that's the case, likely you want to use `(localdb)\MSSqlLoca

[2017-02-08 21:26] #674 closed

[2017-02-08 21:29] coquagli commented on #622
This got auto-closed when merging the change. Did the change fix your issues, @ransagy?

[2017-02-08 21:30] ransagy commented on #622
This isn't available in any release atm, right? Only if i build from the dev branch. If so, I don't have an env set up right now, I'll see what i can do.

[2017-02-08 21:40] coquagli commented on #622
Correct. As such, there's no rush. Feel free to wait for the next release if you need.

[2017-02-08 21:49] #668 closed

[2017-02-08 22:25] Raymondd opened #689 "Re-use hidden results pane"
- MSSQL Extension Version: v0.2.0-alpha.28
- VSCode Version: 1.9.0
- OS Version: All

Detailed guide [here](https://github.com/Microsoft/vscode/issues/20075)
Steps to Reproduce:
1. Run a query
2. Hide a results pane behind your current sql file
3. Run a query again

Expected:
The results pane which is already open should come to the foreground and refresh.

Actual:
A new results pane is created.

[2017-02-08 22:26] Raymondd commented on #689
Blocked by an issue raised to the VSCode Team https://github.com/Microsoft/vscode/issues/20075.

[2017-02-09 00:29] AaronMBertrand opened #690 "bit output is rendered as boolean"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.0
- OS Version: macOS 10.12.4

Steps to Reproduce:

1. `SELECT CONVERT(bit,1);`

Actual results:

    True

Expected results:

    1

[2017-02-09 00:33] AaronMBertrand opened #691 "With no aliases, grid contains wrong results for expressions"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.0
- OS Version: macOS 10.12.4

Steps to Reproduce:

    SELECT MIN(object_id), MAX(object_id) FROM sys.all_objects;

Actual results:

    2105058535        2105058535

Expected results:

    -1073624922        2105058535

Expected results are obtained with this slightly different query (only difference is aliases on the expressions):

    SELE

[2017-02-09 01:35] benrr101 commented on #691
Thanks for your feedback. So far, I haven't been able to repro this on Windows, but that doesn't mean it isn't valid. I'll give it a shot on OSX and see if it's an OSX-only issue. I'll also give it a shot with a small app that runs a query directly with SqlClient. If the result can be replicated on that, it will likely point to this being a bug in .NET Core's SqlClient implementation.

[2017-02-09 02:36] sainawkham commented on #600
@kevcunnane it was ok when i use pipe name instead of servername\instancename. But i'd like to know why i can't connect with name if there is an answer.

Thank & Regards

[2017-02-09 18:27] abist opened #692 "Disable escaping for temp table names"
Is it possible to disable escaping for temp table names? For example in query like: select * from #MyTable. #MyTable transformes to [#MyTable].

Addressing this comment here - [Link](https://github.com/Microsoft/sqltoolsservice/pull/191#issuecomment-278622768)

[2017-02-09 18:57] kburtram opened #693 "Add Refresh IntelliSense Cache command"

[2017-02-09 19:01] kburtram commented on #692
Let's also make sure this isn't impacting table alias identifiers starting with '$' character.

[2017-02-09 19:44] kevcunnane commented on #600
@sainawkham can you confirm the exact connection string used? You can see it by choosing the "Manage Connections" command and choosing to Edit them - this brings it up in the settings. So long as it doesn't contain a password, could you show it here (since it'll be a localdb instance and therefore not something anyone else could access)?

Also for OS version, which Windows version (10, 8.1, etc.)

[2017-02-09 19:47] kburtram commented on #693
We should have a command to force an IntelliSense cache refresh similar to what we have in SSMS.  This is a mitigation until we can implement the drift-detection work in issue https://github.com/Microsoft/vscode-mssql/issues/311.

@llali let's discuss whether you or I want to pick this up.

[2017-02-10 18:40] #653 closed

[2017-02-10 18:40] #641 closed

[2017-02-10 20:04] #692 closed

[2017-02-10 21:58] #594 closed

[2017-02-10 21:58] abist commented on #342
Fixed using the new Batch Parser from DacFx

[2017-02-10 21:58] #342 closed

[2017-02-11 00:42] PierreRossouw commented on #690
Yes agreed - I actually would prefer the way SSMS does this - returning 1 for True and 0 for False in all boolean/bit grid results. It's very difficult to visually scan a column filled with TRUE TRUE TRUE FALSE TRUE TRUE looking for the odd ones out. Perhaps a config setting?

[2017-02-11 10:03] sainawkham commented on #600
@kevcunnane Sorry for my delay reply.
here my connection string
----------------------------------------------------
{
    "window.zoomLevel": 0,
    "mssql.connections": [
        {
            "server": "np:\\\\.\\pipe\\LOCALDB#57B9D9BB\\tsql\\query",
            "database": "",
            "authenticationType": "Integrated",
            "password": ""
        }
    ]
}
_________________________

[2017-02-13 06:07] kevcunnane commented on #600
OK, so that's your connection after using named pipes. When using the server name, what is listed for the "server" option?

[2017-02-13 23:33] abist commented on #688
The library throws no errors if xclip isn't installed, so we might need to change our copy-paste service altogether instead of using that library

[2017-02-14 08:06] buzzzzer commented on #424
Hi. Greate feature.
It is planned for implementation ?

[2017-02-14 23:28] Raymondd opened #695 "Task: RESX to XLIFF transformations"
Setup the Sqltoolsservice to export and import xliff files instead of resx files.

[2017-02-15 20:16] #695 closed

[2017-02-15 20:18] Raymondd opened #697 "Task: Localization wiki page for github"
Create a localization wiki page to guide people on how to update our localizable constants.

[2017-02-15 22:03] #617 closed

[2017-02-16 08:31] ransagy commented on #622
@coquagli confirmed fixed in 0.3.0 alpha 1.

There is a slight issue that double clicking the border between headers to auto expand the column resets selection (probably due to that single clicking the header selects all that column) but that should probably be a opened under a different issue.

[2017-02-16 08:31] #622 closed

[2017-02-16 14:29] hedgehogface opened #703 "Feature. Connection Color"
Add a custom connection color to show in the status bar.

This may not currently be possible in vscode.

[2017-02-16 18:32] kevcunnane opened #704 "Formatter Issue Template"
This is the template for any TSQL Formatter issues. Please Copy & Paste this issue template when creating formatter-related bugs as it will help reproduce the issue.

\*\*Problem Summary\*\*

- MSSQL Extension Version: <0.3.0>
- VSCode Version: <1.9.0>
- OS Version:

\*\*Formatter Settings\*\*
\```
datatypeCasing: "none" / "uppercase" / "lowercase",
keywordCasing: "none" / "uppercase" / "lowercase

[2017-02-16 20:48] kevcunnane opened #705 "Keywords not uppercased as expected"
This is the template for any TSQL Formatter issues. Please Copy & Paste this issue template when creating formatter-related bugs as it will help reproduce the issue.

**Problem Summary**
Many keywords such as BEGIN, END, INSERT, VALUES are not uppercased when keywordCasing=uppercase

MSSQL Extension Version: <0.3.0>
VSCode Version: <1.9.0>
OS Version:
**Formatter Settings**
[code]

**Input Text**

[2017-02-16 21:28] Raymondd commented on #697
Waiting on Transifex drops from Mona/Khoi.

[2017-02-17 16:49] MaximoTrinidad opened #706 "MSSQL won't edit existing profile"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.10.0-insider
- OS Version: Windows 10 Pro Insider Preview Build 15007.rs_prerelease.170107-1846

Steps to Reproduce:

1. Manually create a profile not on the Setting JSON file with the proper credentials. Then create another connection profile in the Settings JSON file in the folder storing the SQL Script.  The SQL connect will display both prof

[2017-02-17 19:44] llali commented on #706
@MaximoTrinidad The profiles that you manually create are stored in the workspace settings if you have a workspace. Which should be the case here because you opened a folder. So you should be able to see your profiles if you select "Wokspace settings" after you selected "Edit".

[2017-02-17 19:51] llali opened #708 "Creating new profile when the mssql extension is not loaded doesn't show any failure"
- MSSQL Extension Version:
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Open vs code without any SQL editor open. so mssql extension is not loaded yet
2. F1 -> Run "MSSQL: Manage Connection Profiles" command
3. Select "Create"
4. Enter invalid connection info

Expected: should fail because the extension is not loaded so it cannot verify connecting
Actual: Shows this message "Profile cr

[2017-02-17 19:57] benrr101 commented on #691
So I've taken a pretty good look at this and haven't been able to repro it even with the exact parameters you provided. At this point, I'd like to get some more information about your environment to see if we can track down a reliable repro scenario. What version of SQL Server are you connecting that yields this repro? The versions I've tried are SQL Server 2016 RTM and SQL Azure.

In general, our

[2017-02-17 20:01] #598 closed

[2017-02-17 20:01] #606 closed

[2017-02-17 20:01] #607 closed

[2017-02-17 20:01] #608 closed

[2017-02-17 20:02] benrr101 commented on #690
Thanks for your feedback on this issue! I raised this question a while back (https://github.com/Microsoft/vscode-mssql/issues/513) and got the same sort of response from our PM @erickangMSFT. Since there's a decent amount of support for a config setting (and I know where to put the code), I'll get started on implementing it.

[2017-02-17 20:05] AaronMBertrand commented on #691
In putting together a repro for you, I realized I had both 0.1.3 and 0.2.1 extensions enabled (0.1.3 is an ancient private preview). When I uninstalled that and reloaded, this issue went away, as did another that prevented results grids from re-loading for new executions. Sorry if my mis-config ate up a lot of your time.

[2017-02-17 20:08] AaronMBertrand commented on #513
I'm all for giving users the option, but please make the *default* setting match SSMS.

[2017-02-17 20:15] benrr101 commented on #513
Understood, we've discussed quite a bit that we should strive to keep SSMS behavior as our default. I'll make sure that the default setting is to display it as 1/0.

[2017-02-17 20:24] MaximoTrinidad commented on #706
Yes! I understand now the ones you create in your own workspace settings.  I'm saying about the one you manually create outside the workspace file.  These are the ones you create when you click "mssql Connect", then follow the prompts and these are not stored in the Workspace file.

![mssql_02_2017-02-17_11-15-22](https://cloud.githubusercontent.com/assets/19892435/23081948/2b8a1eec-f525-11e6-953c

[2017-02-17 20:35] llali commented on #706
So the profiles that are created by the mssql extension are stored in the user settings. We could add a new feature to ask user for the target to store the profile to. But for now this is by design.

[2017-02-17 20:36] MaximoTrinidad commented on #706
I just realized!! I'm expecting (or misleaded), under "Manage Connection Profiles" when I select "Edit" to see a list of connection(s) to edit.  But, this is not true.

So, the purpose of "Edit" is to open the Workspace setting to make the change but still doesn't get me to the connections profile list.

I think this is misleading, and I understand is a work in progress. Still, it would be nice if

[2017-02-17 20:40] MaximoTrinidad commented on #706
Thanks @llali

Yes! That sound great! I know things will keep changing and improving.
:)

[2017-02-17 20:48] llali commented on #706
Yes there are going to be changes in this area probably. We have this limitations that we don't know to edit the profile in workspace or user settings because the profile can be in either settings. I close this for now because it's by design. Thanks for your feedback!

[2017-02-17 20:48] #706 closed

[2017-02-17 21:22] benrr101 commented on #691
Thanks for the clarification -- I'll close this issue for now. But feel free to comment back or open a new one if you experience this again in the future!

[2017-02-17 21:22] #691 closed

[2017-02-17 21:37] kevcunnane commented on #703
Thanks for this suggestion. As you mentioned, I believe this might not be possible in the current VSCode design. but if this changes we can look at how to implement this down the line.

[2017-02-18 01:22] kevcunnane opened #709 "Format with select where keeps adding tab for each AND clause"
This is the template for any TSQL Formatter issues. Please Copy & Paste this issue template when creating formatter-related bugs as it will help reproduce the issue.

**Problem Summary**

MSSQL Extension Version: <0.3.0>
VSCode Version: <1.9.0>
OS Version:
**Formatter Settings**
[code]

**Input Text**
[code]

**Actual Output**
[code]

**Expected Output**
[code]

[2017-02-20 23:20] #697 closed

[2017-02-21 19:54] coquagli opened #710 "Grid selection flickers at (0, 0) when selecting a new grid"
When there are more than 1 grids, there is a slight selection issue when navigating between them. Specially, the (0, 0) cell (0-indexed) is selected `onmousedown` when navigating to a new grid. The desired cell is not navigated to until `onmouseup`. This generally comes across as a "flicker" of cell (0, 0).

Steps to Reproduce:

1. Run a query with 2 result grids
2. Click a cell in the top grid
3.

[2017-02-21 22:55] kburtram commented on #693
I added a Rebuild Cache command with https://github.com/Microsoft/sqltoolsservice/pull/238 and https://github.com/Microsoft/vscode-mssql/pull/696.  This should be included in the 0.3.0 planned for this week.

[2017-02-21 22:55] #693 closed

[2017-02-22 02:01] afittro opened #711 "MSSQL Extension will not run"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.0 (Date 2017-02-02T08:31:00.827Z); Shell 1.4.6; Node 6.5.0
- OS Version: Windows 7 pro x64, SP1

Steps to Reproduce:

1. Install extension through the UI
2. Open any .sql file
3. Error: "mssql: The platform is not supported"
-or-
1. Install extension through the UI
2. Restart VSCode
3. F1->sqlman->{enter}
4. Errors:
"Running the contributed co

[2017-02-22 02:22] #705 closed

[2017-02-22 02:22] kevcunnane commented on #705
Fixed in the service, will be in the release.

[2017-02-22 04:26] kevcunnane opened #712 "Create dedicated TelemetryService in SqlToolsService"
We'll be sending more and more events through the telemetry pipeline. We should streamline this and consolidate it into our standard service pattern instead of relying on a utility class and random methods calling the same event.

[2017-02-22 06:18] #709 closed

[2017-02-22 06:20] kevcunnane commented on #709
Fixed

[2017-02-22 06:51] kevcunnane opened #713 "PlaceCommasBeforeNextStatement doesn't handle correctly formatted text"
This is the template for any TSQL Formatter issues. Please Copy & Paste this issue template when creating formatter-related bugs as it will help reproduce the issue.

**Problem Summary**
if you've already formatted a doc using placeCommasBeforeNextStatement: true, the formatter keeps adding a line before each ",col1" reference instead of leaving it as-is

MSSQL Extension Version: <0.3.0>
VSCode Ve

[2017-02-22 18:27] kburtram commented on #711
@afittro It sounds like there is some issue downloading the tools service binaries.  Do you know if there is a proxy or other special network configuration in your environment.

You can try to manually download and install the tools service binaries to see if that works-around the issue.  To do this please download the ZIP file from https://download.microsoft.com/download/1/2/9/129DBE92-1B54-4024-

[2017-02-22 19:08] #713 closed

[2017-02-23 02:06] kevcunnane commented on #638
This is blocked on https://github.com/dotnet/corefx/issues/16396 - once this is fixed we can look at also fixing the issue in our code that means Intellisense gets the connection instead of the query executor. We likely need a special handling of `admin:` connections.

[2017-02-23 10:40] ransagy commented on #588
@coquagli this is now broken again in 0.3.0 release.

[2017-02-23 10:51] ransagy opened #715 "Don't add newlines when copying cells?"
A simple feature suggestion that came to really annoy me lately - Either remove or add an option NOT to append newlines when copying cells.

Maybe it makes more sense when copying whole rows, but i find it very annoying when copying a single value or a few values around from one result to another SQL part and having almost always to remove the newline.

[2017-02-23 11:28] Platzer commented on #672
Same problem here! But i only ran in this issue when i change the database context by `use DB_NAME`.

[2017-02-23 18:06] kevcunnane opened #716 "0.3.0 Release Candidate results grid is broken due to minification"
- MSSQL Extension Version: 0.3.0 RC
- VSCode Version: 1.9.1
- OS Version: Mac & Windows

Steps to Reproduce:

1. Install the RC VSIX
2. Connect to a DB & run a query with results
3. Try to select from the results grid or click the copy as cvs / json buttons

This doesn't work - select and click are broken. It seems this is due to the minified build, since in testing (without minification) all work

[2017-02-23 18:12] coquagli commented on #588
I'll take a look. Thanks for the heads up.

[2017-02-23 18:19] kevcunnane commented on #588
This is due to https://github.com/Microsoft/vscode-mssql/issues/716 - the minified build is not finding SlickGrid plugins that we use for these. I'll publish the non-minified bits as the RC for now, and we should get this fixed ASAP. We can release as non-minified, the impact would be slightly larger install & potentially slower perf

[2017-02-23 18:25] kevcunnane commented on #588
@ransagy - could you please test by deleting and re-installing the VSIX from https://github.com/Microsoft/vscode-mssql/releases/download/v0.3.0/mssql-0.3.0.vsix? This should now be fixed / mitigated by using the non-minified build. I have updated all the VSIX files to use this and tested that it resolves the issue

[2017-02-23 18:57] kevcunnane commented on #715
This is a valid issue - related to adding an empty column at the end (which is fixed) so this should be a similarly simple fix. We could consider this for 0.3.0 if it's trivial to solve.

[2017-02-23 19:12] #715 closed

[2017-02-23 19:33] MaximoTrinidad opened #718 "MSSQL: SQL Tools Service not starting on latest VS Code Insider"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.10.0-insider 
- OS Version: Windows 10 Pro Insider Preview Build 15007.rs_prerelease.170107-1846

Steps to Reproduce:

1. Open VS Code in the SQL Script folder
2. Error  - mssql: SQL Tools Service component could not start.

FYI - This was working fine on previous VS Code Insider version. Now, it doesn't connect to my existing profiles.

![vscod

[2017-02-23 20:41] kevcunnane opened #720 "Formatter still missing numerous keywords"
**Problem Summary**
Run formatting against the Wide World Importers sample scripts with keywordCasing=lowercase, and observe that a number of keywords still are not converted by the formatter.

MSSQL Extension Version: <0.3.0>
VSCode Version: <1.9.0>
OS Version:

**Formatter Settings**
[code]

**Input Text** - place unformatted SQL below
[code]

**Actual Output** - place formatted SQL (that doesn'

[2017-02-23 20:46] kevcunnane opened #721 "Formatter removes newline after GO on format document but not format selection"
**Problem Summary**
Note: this comes from wide world importers sample script 3-wwi-recreate.sql.
- When formatting the selection, this doesn't remove the newline after GO
- When formatting document, this does remove the newline
- I'd expect this to be consistent, and ideally not strip the newline since it's helpful for separating statements and keeping a clean script

MSSQL Extension Version: <0.3

[2017-02-23 21:17] benrr101 commented on #690
As an update on this, the change to enable configuring the way that BIT columns are displayed is now checked in. The default behavior will be to display them as 1 or 0. This will be rolled out in the next update of the extension within the next week.

I'll close this issue, but feel free to respond back or open another issue if there's still problems.

[2017-02-23 21:17] #690 closed

[2017-02-23 21:18] benrr101 commented on #513
As an update on this, the change to enable configuring the way that BIT columns are displayed is now checked in. The default behavior will be to display them as 1 or 0. This will be rolled out in the next update of the extension within the next week.

[2017-02-23 21:18] #513 closed

[2017-02-23 22:14] ransagy commented on #588
Yes, The new release fixes it. Thanks for the quick turnaround 👍

[2017-02-23 22:14] #588 closed

[2017-02-23 23:37] MaximoTrinidad commented on #718
Yes! I upgraded this morning the VS Code-Insider and MSSQL extension stopped working.
:(

[2017-02-24 00:06] kburtram commented on #718
I'm seeing the same thing.  I'll investigate now and see what we need to do to roll-out a fix.

[2017-02-24 00:50] afittro commented on #711
I did several things to try to resolve since last posting. I ripped out the no-longer-licensed VS2015, web platform installer and a few other smaller bits (not related to runtimes and such and guaranteed not to affect this sort of work.) No joy in all 3 attempts. After each attempt I did the typical heavy-handed clean slate process: rip out mssql, reboot vscode and also ensured the extension's dir

[2017-02-24 00:57] kburtram commented on #718
It looks like the uri format of the textDocument/didOpen message has a breaking change where it is now prefixed with "git:/".  Previously we where expecting this to be "file:/" and the new prefix isn't work with our file management code.  We'll follow-up with VS Code team to find out if the change is intentional and if we need to take a fix on our side.  The **bold** line in the payload below is c

[2017-02-24 01:00] kburtram commented on #718
Here is the exception detail of the crash in SqlToolsService.  Basically System.Path.GetFullPath doesn't know how to resolve git:/ URIs.

{System.NotSupportedException: The given path's format is not supported.\r\n   at System.IO.Path.GetFullPath(String path)}

System.IO.Path.GetFullPath(string path) (\Unknown Source:0)
Microsoft.SqlTools.ServiceLayer.Workspace.Workspace.ResolveFilePath(string fil

[2017-02-24 01:08] kburtram commented on #718
I opened an issue with VS Code team to determine if this change is intentional.  If it is then we'll include this in our upcoming 0.3.0 release.

[2017-02-24 01:32] kevcunnane commented on #711
@afittro could you try out the pre-packaged version with offline installer for the service? Our RC for the next version is at https://github.com/Microsoft/vscode-mssql/releases/download/v0.3.0/mssql-0.3.0-win7-x64.vsix. This will definitely have the full required content, so if something goes wrong it's a bug we can try to capture rather than a proxy issue or something else.

[2017-02-24 01:39] MaximoTrinidad commented on #718
Thanks everyone for the quick attention.  I had webinar yesterday where I was showing VS Code Insider working with MSSQL, Python, and PowerShell.  Unfortunately the bug stop me from showing the T-SQL piece.  But, eventually is going to get fix. Right!

Greatly Appreciate the efforts,

:)

[2017-02-24 01:56] kburtram commented on #718
There is a fix on our side to ignore the new git:/ events in our extensions service at https://github.com/Microsoft/sqltoolsservice/pull/254.  I'll wait to hear back on if this intended design change before merging.

[2017-02-24 02:06] afittro commented on #711
Thank you all for helping, btw. I did ask requested by @kevcunnane and no joy.

I ripped out any existing mssql install, checking the extensions folder to ensure all was gone.

I downloaded from the link provided, did the install from vsix operation and vscode said the extension installed successfully, click here to reload. Doing both that reload (without closing vscode) and then retrying by reboo

[2017-02-24 02:21] kevcunnane commented on #711
And reloading VSCode doesn't fix this? It looks like there's some corruption going on if it shows both Reload and Install. For reference, here's how it should look after installing that update:
![image](https://cloud.githubusercontent.com/assets/10819925/23287852/c4cc8fee-f9f4-11e6-9029-d57c0e52dfae.png)

As you can see, it's listed as 0.3.0. I am struggling to see what's going wrong here without

[2017-02-24 02:29] kevcunnane commented on #718
@kburtram 's fix is merged and the tools service release is updated. Therefore re-downloading and uninstalling / reinstalling https://github.com/Microsoft/vscode-mssql/releases/download/v0.3.0/mssql-0.3.0.vsix should pull down a version with this fix.

I'll be updating the installers with an updated VSCode-MSSQL package shortly, or may just create a new 0.3.1 release to better capture this.

[2017-02-24 03:42] kevcunnane commented on #718
All binaries have been updated in the 0.3.0 candidate release. This now includes fixes for newline copy, this issue, and updated release notes

[2017-02-24 03:43] kevcunnane commented on #715
This is included in the latest candidate release https://github.com/Microsoft/vscode-mssql/releases/tag/v0.3.0.1 if you want to test out.

[2017-02-24 13:27] ransagy commented on #715
Yeah, Works great. Thanks!

[2017-02-24 15:10] MaximoTrinidad commented on #718
@kburtram , @kevcunnane

That's AWESOME! I'm looking forward to the next release of insider to test the changes.

Thanks again,
:)

[2017-02-24 18:17] MaximoTrinidad commented on #718
OK!  In my case, I proceed to download and install mssql-0.3.0.vsix.
It's working now.

Good job!!
:)

[2017-02-24 18:28] kburtram commented on #718
@MaximoTrinidad  thanks for confirming!

[2017-02-25 03:36] AaronMBertrand opened #724 "GO <n> should run the batch <n> times, just like SSMS"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.1
- OS Version: macOS 10.12.4

Steps to Reproduce:

1.
    SELECT 1;
    GO 5

GO is a batch separator but in SSMS also allows an integer coefficient that tells the client to run the preceding batch that many times. This is very handy especially for populating sample data for demos or to write loops without the scaffolding. Behavior should be

[2017-02-25 03:41] AaronMBertrand opened #725 "# should not syntax highlight as a comment when file type is SQL"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.1
- OS Version: macOS 10.12.4

Steps to Reproduce:

1. CREATE TABLE #x(i int);

Everything after the # is green. This is a valid name for a #temp table and shouldn't be color coded like a comment.
<img width="585" alt="screen shot 2017-02-24 at 10 31 13 pm" src="https://cloud.githubusercontent.com/assets/22244117/23327854/df480b6c-fae1-11e6-89

[2017-02-25 03:57] AaronMBertrand opened #726 "@ sign and square brackets should not break color coding, even for reserved words"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.1
- OS Version: macOS 10.12.4

Steps to Reproduce:

1. DECLARE @start [int];

Here @ is white and start is blue, and int is blue inside white square brackets.

@start is a legal variable name, and all the characters in the name should be the same color, including the @ (which should override the color start gets when on its own).

Similarly, s

[2017-02-26 14:51] AaronMBertrand opened #727 "Need better presentation mode"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.9.1
- OS Version: macOS 10.12.4

Yesterday I gave a presentation at SQL Saturday Boston and I decided, for the first time, to use VS Code against SQL Server on Linux, to achieve a more seamless transition between slide deck, demos, and back.

This worked great on my local machine until I hooked up to the projector and had to increase my fonts fo

[2017-02-27 18:48] afittro commented on #711
Yes indeed, I did restart vscode. It's all listed in my comment. To reiterate, I downloaded from the link provided in your prior post, did Install from VSIX, vscode reported the extension installed properly, I rebooted vscode and checked the Extensions pane and it showed 0.2.1, proven by the screenshot I made at that moment.

I've no fear of opening dev tools if anyone thinks they can get to the b

[2017-02-27 19:32] kevcunnane opened #728 "Results view rows don't scale correctly at 20px or larger"
- MSSQL Extension Version: 0.3.0
- VSCode Version: Insiders
- OS Version: Windows

Steps to Reproduce:

1. Change the setting `"mssql.resultsFontSize": 20`.
2. Execute a query `select * from sys.databases`

Expected:
- Results grid cleanly shows each row with all text visible

Actual:
- Rows overlap, causing text to be missed. Font sizes below 20 work OK, but at this point it stops scaling. This m

[2017-02-27 19:37] kevcunnane commented on #727
@AaronMBertrand thanks Aaron, we hear you loud and clear on this issue. Unfortunately, there is a known issue with WebViews in VSCode, and that's how extensions like ours plug in UI. This means that when you change the zoom level, as described in #280, the WebView gets shrunk by the zoom instead of filling the new space with larger font size etc. You can see by the volume of issues linked to the m

[2017-02-27 19:37] afittro commented on #711
@kevcunnane the url https://github.com/Microsoft/vscode-mssql/releases/download/v0.3.0/mssql-0.3.0-win7-x64.vsix no longer is valid. I see you're up to 0.3.0.2 but cannot figure out the right url to dl the latest version of the vsix file

[2017-02-27 20:03] afittro commented on #711
OK, I've reinstalled **everything** from scratch and still have the problems. Details below.

1. I uninstalled vscode 1.9.1 - thoroughly. Uninstaller ran without issues. I then ensured Program Files (x86) had no mention. I checked AppData (local-locallow-roaming) to ensure no mention of vscode. I removed the .vscode folder in my user profile. I searched for references to vscode in the registry. Th

[2017-02-27 20:10] kevcunnane commented on #711
@afittro - glad you found the build OK. We're learning from this, and one thing is I won't be deleting any tags in the future to avoid the problem you had in testing.

Regarding the bug - I would recommend opening the developer tools, and going to the Console section to look for detailed diagnostics. We should see any Javascript errors you find there. Let us know what you see.

![image](https://cl

[2017-02-27 20:36] kburtram opened #729 "'New query' command should be 'New Query'"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1

The casing of the new query command is not consistent with other commands.  Specifically the 'q' should be 'Q'

[2017-02-27 20:42] kburtram opened #730 "Messages Window doesn't show when errors occur when messagesDefaultOpen=false"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: Windows

Steps to Reproduce:

1. Set "mssql.messagesDefaultOpen": false,
2. Run a query that has more than one batch with one batch successful and another with an error.  For example,

SELECT *
FROM sys.all_columns2 a;
GO
SELECT *
FROM sys.all_columns a;

Expected: The spec'd design is that the message window should always show

[2017-02-27 20:56] kburtram opened #731 "Error connecting to SQL DW database"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: Windows 10

Steps to Reproduce:

1. Connect to SQL DW database

Expected: connection successful

Actual: [12:54:12 PM] Error connecting to server "...". Details: Parse error at line: 1, column: 5: Incorrect syntax near 'ANSI_NULLS'.

[2017-02-27 21:10] kburtram commented on #731
The connection worked after removing recent connections and deleting my connection profiles from the settings file.  I most have had invalid metadata cached for our test server.

[2017-02-27 21:11] llali opened #732 "Format document doesn't format "Begin" in a function correctly"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: Windows 10

Steps to Reproduce:

1. Use a well formatted function (no space before Begin and End). I used the following function from Adventure Works

CREATE FUNCTION [dbo].[ufnGetDocumentStatusText](@Status [tinyint])
RETURNS [nvarchar](16)
	AS
		-- Returns the sales order status text representation for the status value.

BEGI

[2017-02-27 21:17] llali opened #733 "SQL Case doesn't get format correctly"
MSSQL Extension Version: 0.3.0
VSCode Version: 1.9.1
OS Version: Windows 10

Steps to Reproduce:

1. Use a well formatted Case statement:
SET @ret =
        CASE @Status
    		WHEN 1 THEN N'Pending approval'
       		WHEN 2 THEN N'Approved'
                WHEN 3 THEN N'Obsolete'
            ELSE N'** Invalid **'
	END;
2. Change the format by removing space before some cases or add space to some
3

[2017-02-27 21:23] kburtram opened #734 "NULL columns don't copy as 'null'"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: Windows and Linux

Steps to Reproduce:

1. Run a query that returns null values (such as select * from sys.all_columns)
2. Copy and paste from the null columns

Expected: previously the extension would paste NULL values as the string _null_

Actual: NULL is now pasted as with no value and just a tab stop

[2017-02-27 21:42] kevcunnane commented on #731
This is a bug in the connection cache - it's at the server level which is incorrect. Azure SQL DB and Azure SQL DW database instances both exist on regular Azure servers, and master always reports as a SQL DB. Therefore we need to use DB-level property caching instead of server-level. I'll update to do this.

[2017-02-27 22:01] kburtram opened #735 "Format command handles TOP 100 unusually"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: CentOS 7

Steps to Reproduce:

1. Type statement with TOP command such as "SELECT TOP 100 * FROM sys.tables"
2. Format the statement

Expected:

SELECT TOP 100 *
FROM sys.tables

Actual:

SELECT TOP 100
    *
FROM sys.tables

Notes: I haven't seem the asterisk spaced onto its own line like this before.

[2017-02-27 22:13] kburtram opened #737 "Format command inconsistent inner join placement"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: CentOS 7

Description:
INNER JOIN is sometimes placed on same line as FROM and other times places on its own line.  I think the typical formatting would be to place INNER JOIN on its own line.

Steps to Reproduce:

1. Format Document a SQL file containing the below text.

[code]

Actual: This formats as below with INNER JOIN on

[2017-02-27 23:00] benrr101 opened #738 "query/subSet doesn't return DbCellValue objects"
The DbCellValue object provides more explicit metadata about a cell than a string does. It should be useful to us.

[2017-02-28 04:06] kevcunnane commented on #725
@AaronMBertrand we'll be releasing 0.3.0 soon and believe this should be fixed in that release. Please test once we have this ready to go and let us know if this resolves the issue. We'll also test this during a testing sweep this week. Thanks.

[2017-02-28 04:06] kevcunnane commented on #724
We should take this improvement to be consistent with SSMS

[2017-02-28 16:03] wjzhou opened #739 "[Feature] Save As Excel"
As title, Save as Excel feature similar to Save as Json/Save as Excel.

Scenario: In my place, I need to send Ad-hoc query result to other staffs in excel format.

This feature is missing in ssms, implementing it will give us a unique feature to sell.

[2017-02-28 17:25] afittro commented on #711
This is what I get when I save the log. Since it doesn't seem to show all that is visible in the log, I thought I'd include screenshots with the various sections expanded. Thank you.

[Extension Host] Unhandled Exception occurred. error: Invalid Platform method: initialize
mssql: The platform is not supported
Activating extension `ms-mssql.mssql` failed: {1}.
[Extension Host] Activating extension

[2017-02-28 19:35] #734 closed

[2017-02-28 21:29] kevcunnane opened #740 "Refresh Intellisense Cache crashes SqlToolsService when run against disconnected file"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: NacIS

Steps to Reproduce:

1. Open a SQL document
2. Execute the `Refresh Intellisense Cache` command

Expected:
- Nothing happens / intellisense is updated

Actual:
- SqlToolsService crashes completely.

[2017-02-28 21:35] benrr101 commented on #739
Thanks for your feedback! Right now, saving to CSV is the best we can offer, but as you note CSV can be opened with Excel. If we can make the scenario of saving to CSV and opening in Excel better for you, we'd love to address that. If you could provide us with some more details on what scenarios don't work for you (such as cells with certain characters, etc), this would help us find concrete ways

[2017-02-28 21:41] kevcunnane opened #741 "Peek Definition fails when carat is at the left / middle of a name instead of at the end"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: macOS

Steps to Reproduce:

1. Create a Table T1 in the database, and type a query to select from it
[code]
2. Move the carat to anywhere other than the right of the statement (e.g. anywhere in `dbo.`, Between `T` and `1`, and right-click then choose `Peek Definition`

Expected:
- Peek works
Actual:
- Peek fails
- If you put th

[2017-02-28 21:50] kevcunnane opened #742 "Clicking on connection in status bar doesn't bring up USE DB menu on 1st try"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.9.1
- OS Version: mac OS

Steps to Reproduce:

1. Open a .SQL file and execute a comment, e.g. `select * from sys.databases`
2. Click on the connection name in the status bar, e.g. `localhost : master : sa`

Expected:
- USE Database command executed, and a list of DBs is displayed

Actual:
- Most of the time, no list is shown and the context see

[2017-03-01 03:21] kevin100702 commented on #711
extensionHost.ts:282[Extension Host] 激活扩展“ms-mssql.mssql”失败: {1}。d.logExtensionHostMessage @ extensionHost.ts:282
messageService.ts:126mssql: The platform is not supportede.doShow @ messageService.ts:126
mainThreadExtensionService.ts:110激活扩展“ms-mssql.mssql”失败: {1}。t.$localShowMessage @ mainThreadExtensionService.ts:110
extensionHost.ts:282[Extension Host] Activating extension `ms-mssql.mssql` fail

[2017-03-01 06:59] kevcunnane commented on #711
@afittro thanks, this is very helpful. I think I've found the root issue here, and it's something that the C# extension for VSCode just fixed in their [1.7 release](https://github.com/OmniSharp/omnisharp-vscode/blob/8299f872239a45f224ae26113b1ad2470174a4d7/CHANGELOG.md).
- We use the same method they did before now to check if the machine is x64 or x86, which is to call `wmic os get osarchitecture

[2017-03-01 07:33] kevcunnane commented on #711
I have PR https://github.com/Microsoft/vscode-mssql/pull/744 out to fix this.

[2017-03-01 09:23] kevcunnane commented on #740
Fixed by https://github.com/Microsoft/sqltoolsservice/pull/260

[2017-03-01 09:23] #740 closed

[2017-03-01 21:01] llali opened #745 "Sending telemetry for unsupported platform fails"
The telemetry event for unsupported platform is not sent and the problem is that the telemetry service is initialized after the service so if the service cannot initialized because of the unsupported platform or anything else, the telemetry service won't get initialized either

[2017-03-01 21:34] kburtram opened #747 "Release notes page doesn't display correctly"
- MSSQL Extension Version: 0.2.0+
- VSCode Version: 1.10
- OS Version: Ubuntu 16.04 and Windows 10

Steps to Reproduce:

1. Install vscode-mssql and click view release

Expected: Release notes is displayed

Actual: Release notes shows up as blank page (show below)

Note: This appears to be related to VS Code 1.10 upgrade since it also impacts 0.2.0 extension

![release notes](https://cloud.githubu

[2017-03-01 21:35] kburtram opened #748 "Readme changelog section refers to 0.2.0"
The readme changelog section says current version is 0.2.0 but the correct version string should be 0.3.0.

[2017-03-01 22:04] Raymondd opened #749 "Localization XLF refresh"

[2017-03-01 22:09] kevcunnane commented on #748
Fixed in master by #750

[2017-03-01 22:09] #748 closed

[2017-03-01 22:12] kevcunnane commented on #747
Fixed in master by #750

[2017-03-01 22:12] #747 closed

[2017-03-01 22:39] kburtram opened #752 "Update SQL Tools Service to handle arbitrary URI handlers"
Based on response to VS Code issue https://github.com/Microsoft/vscode/issues/21324 the extension should be able to correctly handle any arbitrary URI handler being passed in.  Currently we have a list of expected URI prefixes that we'll handle, but new unexpected prefixes will cause the service to crash.  We need to update the service to ignore unknown URI schemas.

[2017-03-01 23:54] Raymondd opened #753 "Appveyor build issues"
Appveyor is not running our extension tests. It looks like the test script is exiting early which causes the extension test-reports to not be generated which then causes the upload.ps1 script to error when attempting to upload.

Here is an example of a failed build:
https://ci.appveyor.com/project/kburtram/vscode-mssql/build/1.0.435

[2017-03-02 00:11] afittro commented on #711
Wow. Great work.

`SQLToolsService Initialization` returned:
[code]

[2017-03-02 01:12] rossipedia opened #754 "Results window is blank, debug info says 404 for /dist/js/main.js"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.10.0
- OS Version: Windows 10.0.14393

Steps to Reproduce:

1. Set `"mssql.logDebugInfo": true` in settings.
2. Toggle developer tools (Help -> Toggle Developer Tools)
3. Switch to Console Tab
4. Create connection profile to localhost
5. Execute query

![image](https://cloud.githubusercontent.com/assets/96213/23488524/67b815ac-feaa-11e6-852e-c1a

[2017-03-02 01:20] kevcunnane commented on #754
@rossipedia thanks for raising this. VSCode is pushing a hotfix for this as we speak - see https://github.com/Microsoft/vscode/issues/21661. Expect a 1.10.1 release shortly. Once we have verified that the fix they're rolling out resolves this, we'll close this issue.

[2017-03-02 02:37] kevcunnane commented on #754
I've verified this is fixed in VSCode release 1.10.1. If you update your version, this will be resolved. Thanks again for raising this, and apologies for the trouble here.

[2017-03-02 02:37] #754 closed

[2017-03-02 03:44] rossipedia commented on #754
Awesome, thanks!

[2017-03-02 12:05] ghost opened #756 "Feature Request: authenticationType Integrated but different credentials"
- MSSQL Extension Version: 0.2.1
- VSCode Version:
![image](https://cloud.githubusercontent.com/assets/8189808/23506391/525d24c4-ff48-11e6-8a2c-492870bc8e04.png)

- OS Version: Windows 10

I often encounter a certain scenario where there is a SQL admin account which I need to use that differs from my current user but the SQL security is disabled.
So usually I would need to use mstsc to login with

[2017-03-02 19:36] bergamin opened #759 "Constraints when going to a table definition"
- MSSQL Extension Version: 0.2.1
- VSCode Version: 1.10.1
- OS Version: Windows 7 SP1

When asking for the table definition it shows the CREATE TABLE script without constraints. It would be interesting to have the full table creation script being shown, so we could use it for helping on giving maintenance to the tables.

Thank you very much!

[2017-03-02 20:13] kevcunnane commented on #759
Thanks for this suggestion. This is definitely an interesting idea that we could look at. I suspect that SMO (which we currently use for scripting) has this as a configurable option, so we could look at implementing it. @sharonravindran what do you think?

[2017-03-02 20:27] aaroncalderon commented on #568
I have a similar issue, and I think it is related because I am also behind a proxy.

The output error is:

[code]

I do have a proxy setup just like @freeranger

[2017-03-02 20:31] kevcunnane commented on #568
@aaroncalderon if this is blocking you, could you try installing the offline package instead? You follow the steps on our release at https://github.com/Microsoft/vscode-mssql/releases/tag/v0.3.0.6. In your case it looks like you have an x86 architecture windows machine? Therefore pick the https://github.com/Microsoft/vscode-mssql/releases/download/v0.3.0.6/mssql-0.3.0-win7-x86.vsix VSIX, download

[2017-03-02 20:32] kevcunnane commented on #711
@afittro the 0.3.0 release we just published *should* fix this. Please try updating and let us know if it's finally fixed for you.

[2017-03-02 20:44] #745 closed

[2017-03-02 21:45] wjzhou commented on #739
Thank you for the thoughtful response. I have retested the situation and find the UTF8 with BOM is all I need for the encoding part. (both Excel 2010/2016 with latest updates). And Excel handles the line break correctly too.

Thus, I think an option to save csv with UTF8-BOM should be sufficient in my scenario. (I have updated my description)

For the Excel library, there is no working library (I'

[2017-03-02 23:29] aaroncalderon commented on #568
@kevcunnane I will try tomorrow, thanks for the clarification and optional method of installation.

[2017-03-02 23:52] #753 closed

[2017-03-03 08:30] con-ssc opened #760 "Release Date Change Log"
we already have 2017 ;)

[2017-03-03 08:31] con-ssc commented on #760
![image](https://cloud.githubusercontent.com/assets/8189808/23543795/27c8407a-fff4-11e6-8c3e-ee932a01a93b.png)

[2017-03-03 13:14] TechWatching commented on #568
Installing the package offline works fine but it's too bad that the extension does not use correctly the proxy settings to download the package. Is it  an issue with vs code itself or with the extension ?

[2017-03-03 16:48] afittro commented on #711
I installed the newly released 0.3.0 on both laptop and desktop. The installation is now flawless. Kudos!

The output of `SqlToolsService Initialization` is now `Platform: win32, x86_64 (Windows)`

When I enter F1->sqlman and try to create a profile, the process works fine until I give it a name and Save. At that point I get
`mssql: Error: Unable to load connection profiles from [C:\Users\afittro\

[2017-03-03 18:14] kevcunnane commented on #760
Nice catch! This one highlights the perils of copy & pasting previous release notes to bootstrap the next release. I've fixed in Master, and since we now link directly to the weblink, this should now look correct.

[2017-03-03 18:14] #760 closed

[2017-03-03 20:26] kevcunnane commented on #711
Glad you're partway there, now we definitely want to figure out what's wrong in that file. We just use a simple comment-json module to parse so it's strange that this is happening.

Please create a different issue for this. Also could you email me the file contents (remove any password / obfuscate the server name without changing formatting) so I can try to reproduce? I'm kcunnane@microsoft.com. I

[2017-03-03 21:29] kevcunnane commented on #756
Our best practice from SSMS is to follow the steps at https://wikidba.net/2015/07/07/connecting-sql-database-with-different-windows-credential-in-sql-server-management-studio-ssms/ and run as a different user. This should also work for VSCode. Could you try this out and let us know if it solves this issue for you?

[2017-03-03 21:31] kevcunnane commented on #568
@TechWatching does this same issue occur for the C# extension in VSCode? We have leveraged a lot of their code for package downloading, but it's possible they fixed in an update. Could you try installing them, opening a .cs file and seeing whether they can successfully download? If so, we can look at leveraging their code to improve / fix this issue.

[2017-03-03 21:48] Raymondd opened #761 "Localization refresh for the tools service"

[2017-03-03 22:15] TechWatching commented on #568
I am pretty sure I had no issue with C# extension but I can't confirm right now as I am not currently at work behind a proxy. I checked the C# extension repo and it seems indeed that this issue has been solved with this PR https://github.com/OmniSharp/omnisharp-vscode/pull/350/commits relative to this issue https://github.com/OmniSharp/omnisharp-vscode/issues/200.

[2017-03-03 23:23] JudE2425 commented on #718
I'm still having a problem with this. Running Ubuntu Trusty. I was super excited to use Code to connect to my Azure SQL server without having to remote to my Win10 machine. I get the error as soon as I open an SQL file. After clearing that I enter my server details and it just spins without ever connecting or giving me an error message.

Has it been fixed already? I don't mind being patient, I jus

[2017-03-04 00:53] MaximoTrinidad commented on #718
@JudE2425

What's the extension version number?  My issue the SQL Tools Service got corrected by manually installing mssql-0.3.0.vsix.

Hope this helps,
:)

[2017-03-04 00:57] JudE2425 commented on #718
strange. That's the extension number I have. I installed the azure extension pack, so I assume all of the dependencies came with it. Anyway, thanks for the heads up!

[2017-03-04 01:03] benrr101 commented on #739
Thanks for the response! I did a little bit more research and it looks like CSV on Excel isn't very friendly... http://stackoverflow.com/questions/6588068/which-encoding-opens-csv-files-correctly-with-excel-on-both-mac-and-windows shows that UTF8 is probably the worst option since it is scrambled on both windows and mac. UTF8 w/BOM works perfectly on Windows but is still scrambled on mac. I just n

[2017-03-04 01:09] MaximoTrinidad commented on #718
Hey @JudE2425,

Hum! I'm curious!!  Have you tried to using only the mssql extension (by itself) and see if it connect without the Azure Extension.  There might be a chance these two extension may conflict each other.

:)

[2017-03-04 01:15] JudE2425 commented on #718
That's a great idea! So I tried it. I uninstalled all of my extensions and then installed the MSSQL extension only. I then clicked on an .sql file and the terminal/debugger window popped up on the bottom. It said it was downloading some files and right before it says it was successful, the little error message pops up at the top and says that it was unable to start.

[2017-03-04 01:33] MaximoTrinidad commented on #718
Does by any change... did you recreated the profiles before trying it? In my case I had to recreate my SQL profiles. I'm just saying! It did help in my case.
:)

[2017-03-04 01:55] kevcunnane commented on #718
@JudE2425 sorry to hear you're still having trouble.

Perhaps we could help debug this to understand why it's failing? Steps that should help:
1. See if we get detailed log information: open user settings and add `"mssql.logDebugInfo": true,` so that we log as much as possible. Check out the SqlToolsService and MSSQL channels in the output window to see what information you get
2. Execute the `Tog

[2017-03-04 01:57] kevcunnane commented on #718
One more thing: could it be this issue https://github.com/Microsoft/vscode-mssql/wiki/windows10-universal-c-runtime-requirement? We need the Universal-C runtime to work on earlier versions of Windows. By any chance is that causing this problem for you?

[2017-03-04 02:05] kevcunnane commented on #568
@llali - it looks like we are actually using this same code as Omnisharp to configure our proxy. If it turns out that C# works (e.g. re-installing so it pulls down its dependencies) and ours doesn't, I'd love to understand what's different since we have the same proxy code in our HttpClient class.

[2017-03-04 02:07] MaximoTrinidad commented on #718
Good point @kevcunnane!

I'm on the latest WIndows 10 Insider build 15046.  And VS Code Insider ver. 1.11.0.
:)

[2017-03-04 02:14] JudE2425 commented on #718
In reverse order, I'm running Ubuntu 14.04 in a chroot, so I sure hope it's not a windows issue :-P

Here is the output from SQL ToolsService:
'''
[Error - 7:03:21 PM] Connection to server is erroring. Shutting down server.
[Error - 7:03:21 PM] Connection to server is erroring. Shutting down server.
[Error - 7:03:21 PM] Connection to server is erroring. Shutting down server.
Failed to load /home/z

[2017-03-04 02:17] JudE2425 commented on #718
Oh, there was one more message I forgot to paste in. I apologize.
[code]
This was also in the developer tools output.

[2017-03-04 02:25] kevcunnane commented on #718
So the issue is definitely this:
[code]
Does this file exist at the specified location? I just downloaded the Ubuntu 14 package we're using (https://github.com/Microsoft/sqltoolsservice/releases/download/v0.3.0.5/microsoft.sqltools.servicelayer-ubuntu14-x64-netcoreapp1.0.tar.gz), unpackage and verified it is there. Can you try re-downloading (delete the sqltoolsservice directory and restart VSCode

[2017-03-04 02:31] anthonydresser commented on #716
whats the error that it surfaces?

[2017-03-04 02:33] JudE2425 commented on #718
So, yes, the file existed. It was 8.1MiB.

I deleted the directory you said and it re-downloaded as soon as I restarted VS Code, then I got the following error:
[code]

[2017-03-04 02:33] MaximoTrinidad commented on #718
OK!  So, I just tested mssql on my Linux Ubuntu 16.04.1 and VS Code 1.10.0 with no issues with the SQL Tool Service.  Of course, I would also suggest to occasionally do a:

sudo apt update

and, if there are upgrade needed then do a:

sudo apt upgrade

Hope you get it corrected!
:)

This will also help to keep the OS up-to-date.

[2017-03-04 02:57] JudE2425 commented on #718
So, yes, the file existed. It was 8.1MiB.

I deleted the directory you said and it re-downloaded as soon as I restarted VS Code, then I got the following error:
[code]

Then I uninstalled the whole program, deleted the .vscode directory, and then reinstalled from the channel instead of the .deb.

I opened a .sql file, installed only the mssql extension (as it was recommended by the software and it

[2017-03-04 04:41] MaximoTrinidad commented on #718
Hi @kevcunnane / @JudE2425

Apparently there's a possible bug.

I had mssql extension (version 0.3.0) working on VS Code Insider 1.10.0 on my Linux machine working fine.  But, I proceeded to update to VS  Code to version 1.11.0 and now I'm getting an error: "Unable to execute the command while the extension is initializing".

And, it's worse!  I can't uninstalled any of my existing extensions. Cli

[2017-03-04 16:21] kevcunnane commented on #718
@MaximoTrinidad I think this is a VSCode Insiders build issue. I just updated to 1.11.0-insiders and after a few restarts, it now says my VSCode instance appears to be corrupt.If you can verify things still work OK on the standard VSCode install, I would recommend opening an issue against VSCode (https://github.com/Microsoft/vscode/issues). They are generally very good about fixing quickly.

[2017-03-04 19:39] MaximoTrinidad commented on #718
Thanks @kevcunnane!  I will post this on the VS Code side.
:)

[2017-03-04 20:07] MaximoTrinidad commented on #718
Hi @kevcunnane,

Just installed VS Code (not Insider) ver 1.10.0 and all the extensions works fine including mssql.

:)

[2017-03-05 05:29] bpasero opened #762 "New MS SQL Query: untitled file should not have an associated path"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.1
- OS Version: macOS

Steps to Reproduce:

1. new MS SQL query
2. type something
3. close the editor

=> the user is not prompted for a file location because the untitled file has a file location in temp:

![image](https://cloud.githubusercontent.com/assets/900690/23584815/c16701ac-016c-11e7-85ac-612353de50a8.png)

=> instead, the untitled f

[2017-03-06 09:55] con-ssc commented on #756
This might of course work. But it very much defeats the purpose. When I run VSCode as a different user, I also have a different usersettings as well es different extension setup. So in order to make this work I had to mirror everything to the other user.

[2017-03-07 01:15] kevcunnane commented on #756
I understand. This is a hard issue to solve at the tools level - we end up connecting through the ADO.Net stack (in the case of this extension, via .Net Core) so ultimately we can only do what that driver supports. I don't believe the SqlClient/ADO.Net stack supports this and that's going to block us from implementing this.

[2017-03-07 01:50] #711 closed

[2017-03-07 01:57] sharonravindran commented on #759
Sure, we could show the constraints too. Today we display just the create script by design. I'll look at the other scripting options.

[2017-03-07 02:31] srinath29 commented on #568
I am also finding the same issue when I am behind proxy. I could fix it as pointed above by downloading the package and unzipping to the respected folder. C/C++ plugin from microsoft also downloads few things after the plugin is installed. ( It works properly behind proxy) May be you can find the solution there on how they have implemented it.

[2017-03-07 09:16] TechWatching commented on #568
I confirm that I have not this issue with the omnisharp extension.

[2017-03-07 14:50] aaroncalderon commented on #568
@kevcunnane I can confirm that I can install manually through the `Install from VSIX` option menu.

[2017-03-07 18:00] kevcunnane commented on #568
@TechWatching thanks, this helps. We'll take a look at the difference in their code vs. ours and see if we can resolve.

[2017-03-07 19:15] llali commented on #568
Hi @aaroncalderon
Can you please try one of the daily github builds like this one: https://github.com/Microsoft/vscode-mssql/releases/download/v0.3.0-alpha.9/mssql-0.3.0.vsix

and see if you still have problem downloading? This build downloads the service from the github releases and the official release that you were using, installs the service from download.microsoft.com. I just want to verify t

[2017-03-07 19:47] ernesth65 opened #764 "Intelisense doesn't regconize NVARCHAR"
- MSSQL Extension Version:0.30
- VSCode Version:1.10.
1
- OS Version:WIN 10

Steps to Reproduce:

1.Type NVARCHAR
2.

[2017-03-07 19:52] afittro commented on #711
Thank you @kevcunnane for the fixes and hard work. I will now create a new issue to resolve this new problem.

Cool fact: VSCode on Linux is flawless :P, including this extension. I haven't tested it as much but no installation problems for mssql or sqltoolsservice or this settings.json issue

[2017-03-07 20:31] llali commented on #762
@bpasero I tried to use the new API in mssql extension but I don't see the new method signature in vscode npm module 1.0.5 for compile time. Should I manually fix it?

[2017-03-07 23:17] afittro opened #765 "Unable to save connection profile on Win7 x64"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.1
- OS Version: Windows 7 pro x64, SP1

I installed the newly released 0.3.0 on both a laptop and a desktop. No installation problems now, thanks to issue 711's fix.

However, when I enter F1->sqlman and try to create a profile, the process works fine until I give it a name and Save. At that point I get `mssql: Error: Unable to load connectio

[2017-03-08 05:45] bpasero commented on #762
@llali [How can I use API from my extension that was introduced in a newer release of VS Code?](http://code.visualstudio.com/docs/extensions/debugging-extensions#_common-questions)

[2017-03-08 14:39] aaroncalderon commented on #568
@llali Should I uninstall and install again?

Do you know if there are cashed downloads that may be used instead of actually downloading the files from the internet?

[2017-03-08 17:35] llali commented on #568
Hi @aaroncalderon yes you need to uninstall and install again.
So the downloading still fails with that url but it's not the same error? Can you download that manually? just checking that the url doesn't have any problem. Thanks

[2017-03-08 19:51] benrr101 opened #767 "Reenable TestDriver query execution tests"
The query execution tests were disabled in the test driver tests. I believe this was due to them being flaky because of their async nature that returns various amounts of events. I'm thinking if we modified the code to wait for various numbers of events and validate those events (like the EventFlowValidator), we could have a much more robust way of validating our tests.

[2017-03-08 21:17] llali commented on #568
@aaroncalderon  Can you please let me know the type of proxy you are using and also if the proxy server url protocol is https or https
Thanks

[2017-03-08 23:01] kevcunnane commented on #765
@afittro OK, so I got to the bottom of this. We must be parsing in "strict" mode, or our parser doesn't like incorrectly formatted settings files. The `,` after "http.proxyStrictSSL" is breaking us. You'll actually see a red error at the end of the file stating `property expected`. Removing that will let you add a connection.
One more note: the `"{{dbprod}}"` format is just for the sample we use.

[2017-03-08 23:12] kburtram commented on #764
@ernesth65 thanks for opening this issue.  I've sent a PR with a fix that will be in the next release https://github.com/Microsoft/sqltoolsservice/pull/272.

[2017-03-09 00:42] llali commented on #762
Thanks @bpasero
Fixed in #766

[2017-03-09 00:42] #762 closed

[2017-03-09 01:41] sharonravindran opened #769 "Fix peek definition tokenizer"

[2017-03-09 01:52] sharonravindran commented on #680
@afoliaco - We currently have a 10 second timeout for peek definition. Sometimes the scripting takes longer and the operation times out. Has the timeout been happening frequently?

We will keep this issue open to track peek definition timeouts.

[2017-03-09 15:17] aaroncalderon commented on #568
@llali The underlying error is `ECONNRESET`, this happens when it tries to download `https://github.com/Microsoft/sqltoolsservice/releases/download/v0.3.0-alpha.9/microsoft.sqltools.servicelayer-win-x86-netcoreapp1.0.zip`. So, it is basically the same issue.

When I download the file manually it owrks.

The proxy protocol is __http__.

I do not know what do you mean by:

[2017-03-09 15:48] TechWatching opened #770 "Intellisense for linked servers"
- MSSQL Extension Version: 3.0
- VSCode Version: 1.10.2
- OS Version: Windows 8.1

It seems to me that intellissense is not. working for linked servers.

[2017-03-09 21:42] abist opened #772 "Copy paste doesn't work will null cells"
- MSSQL Extension Version: 0.3.0
- VSCode Version:  1.9.1
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Copy paste any selection with null cell in the selection.
2. Copy pastes every thing except the null value.

[2017-03-09 21:57] #772 closed

[2017-03-09 22:03] #729 closed

[2017-03-09 23:43] afittro commented on #765
Exactly right and thank you for being you :) All problems solved. A recent query just executed without issues.

ps., I'm 52 and have used code editors for 27 years and this is the best I've seen. Keep it up.

[2017-03-09 23:43] #765 closed

[2017-03-10 01:55] kevcunnane commented on #725
@justindoeswork glad to hear it! I'll close this out.

[2017-03-10 01:55] #725 closed

[2017-03-10 13:01] bergamin opened #773 "Ambiguous column error shown when selecting a field and "*""
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: Windows 7

Steps to Reproduce:

1. Select a field and * from one table and order by the field you specified
2. It will consider the second appearance of the field in the "*" as if it was ambiguous, even though the query runs normally as you would expect.

![pngtemp](https://cloud.githubusercontent.com/assets/14339291/23796133/

[2017-03-10 17:37] llali commented on #568
@aaroncalderon I fixed some issues related to proxy settings in this release:  https://github.com/Microsoft/vscode-mssql/releases/tag/v0.3.0-alpha.13

I verified that with proxy setting in vs code, I 'm able to download the service from this url: https://download.microsoft.com/download/A/A/2/AA22B2D6-94D8-4C82-A388-D0246F567BBF/microsoft.sqltools.servicelayer-win-x86-netcoreapp1.0.zip

I still hav

[2017-03-10 19:55] benrr101 opened #774 "UTF-16LE w/o BOM CSV"
Exporting query results as CSV encodes as UTF-8 which is a bad choice. We should try to use UTF-16LE w/o BOM to maximize compatibility with both Unicode columns in SQL Server and with Excel on different OSs. Issue originally raised via https://github.com/Microsoft/vscode-mssql/issues/739

[2017-03-10 19:58] benrr101 commented on #739
@wjzhou, any updates on this? We're all quite excited to bring in your branch for exporting to Excel! If you need any assistance with using an XMLWriter to generate the files, let me know 😃

[2017-03-11 15:06] need47 opened #775 "sqlListTablesAndViews - Invalid object name 'information_schema.tables'"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.1 (insider)
- OS Version: WIN7 64bit

Steps to Reproduce:

just run the code snippet: sqlListTablesAndViews, give you the following query:

-- Get a list of tables and views in the current database
SELECT table_catalog [database], table_schema [schema], table_name name, table_type type
FROM information_schema.tables
GO

I think the problem is

[2017-03-13 18:46] kalinkrustev commented on #735
Also when `mssql.format.placeSelectStatementReferencesOnNewLine=true` it formats as:
[code]

Which I think should be instead formatted as:
[code]

[2017-03-13 18:54] kalinkrustev commented on #737
Also when `mssql.format.placeSelectStatementReferencesOnNewLine=true` it formats as:
[code]

Which I think should be instead formatted as:
[code]

[2017-03-13 22:03] benrr101 commented on #774
Can't move to UTF-16LE w/o BOM because VS Code doesn't support opening files with this encoding. We could use UTF-16LE w/BOM but this doesn't open properly in Excel (all columns are in a single column).

I've raised an issue with VS Code team at https://github.com/Microsoft/vscode/issues/22564

[2017-03-14 03:22] haydnlj opened #776 "Go to Definition and Peek Definition not working for stored procedures"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: Win8.1 Enterprise
- SQL Version: 10.50 SP2 - (10.50.4000	MSSQL 2008R2 Service Pack 2)

Steps to Reproduce:

1. create new SQL file in VSCode
2. connect to existing SQL connection (in this case I'm using 'sa' to ensure permissions aren't an issue)
3. verify connection exists (e.g. execute simple select statement)
4. check defin

[2017-03-14 10:41] antonydanby opened #777 "Running out of Memory"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: Windows 10 64 bit

My system ground to a halt this morning. When I looked at Task Manager there was a dotnet process at 100% and consuming over 2Gb ( Yes 2GB; I didn't make a mistake  ). When I switched on command line, it was your mssql extension going absolutely nuts. I had no choice but to kill the task before it killed my

[2017-03-14 13:51] aaroncalderon commented on #568
@llali It seems to have installed and downloaded with no problem with the instructions you provided.

I can confirm that `v0.3.0-alpha.13` downloads additional files properly after installing from __vsix__.

[2017-03-14 16:03] llali commented on #568
Thanks @aaroncalderon for verifying.

[2017-03-14 16:03] #568 closed

[2017-03-14 16:21] wjzhou commented on #739
Sorry for the late.

It took longer than I thought. If there were anything wrong, Excel and google sheets doesn't give any detailed information about the error.

I have created a [pull request](https://github.com/Microsoft/sqltoolsservice/pull/279) against the  https://github.com/Microsoft/sqltoolsservice repository.

Please take a look. I'll add more tests after the first round review.

[2017-03-14 16:35] wjzhou commented on #739
I create a test project to demo the helper class. https://github.com/wjzhou/excel-library-test

https://github.com/wjzhou/excel-library-test/blob/master/src/testexcel/Program.cs#L18-L33

[2017-03-14 19:00] benrr101 commented on #777
Hi @antonydanby thanks for your feedback. Agreed, it is frustrating when software by developers for developers misbehaves -- but unfortunately, we're not infallible.

To help me get to the bottom of this issue, can you provide us some more details about the scenario? Had you connected any of your editors to a database before you let it sit? Had you executed any queries in the editors? Have you bee

[2017-03-14 19:35] kevcunnane commented on #735
@kalinkrustev thanks for helping with clarifying this issue. I'll look to work on these in the next week and see if it can be fixed in the next release.

[2017-03-14 19:36] kevcunnane commented on #737
@kalinkrustev thanks for helping with clarifying this issue. I'll look to work on these in the next week and see if it can be fixed in the next release.

[2017-03-15 09:48] rmunn commented on #774
There may be good news on the UTF-8 front. Dan Battagin, from the Microsoft Excel team, wrote: "... we’ve completed our work on this feature and Excel will support a new CSV format using UTF-8 encoding.

This fix still needs to make it through our release pipeline, but you should see it as an option once you have a build equal to or later than 16.0.7466.2023."

Source: https://excel.uservoice.com/

[2017-03-15 09:49] rmunn commented on #739
There appears to be good news! Excel may soon be able to write (and, one would assume, also read) UTF-8 files. See https://excel.uservoice.com/forums/304921-excel-for-windows-desktop-application/suggestions/10006149-support-saving-csv-in-utf-8-encoding for more details.

[2017-03-15 11:51] antonydanby commented on #777
Sorry about that I'll try to avoid using flowery prose. when I said "spun of it's own axis" I meant that it was consuming so much resources and CPU my machine had ground to an almost standstill; invoking Task Manager at this point was taking 10 to 20 seconds just for it to appear.

The process was:

C:\Users\Danbya\.vscode\extensions\ms-mssql.mssql-0.3.0\sqltoolsservice\0.3.0.5\Windows\Microsoft.S

[2017-03-15 14:34] jorys opened #778 "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'"
- MSSQL Extension Version:0.3.0
- VSCode Version:1.10.2
- OS Version: Windows 8.1 Enterprise

Steps to Reproduce:

1. "authenticationType": "Integrated"
2. Select on a different instance (sys.servers), I got that message : Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.

Thanks for your help.

[2017-03-15 14:54] renzska commented on #721
Any update on this? With autoformat on save set (used by other file extensions), this removes all empty lines in my .sql files every time I save the document. I'd prefer to not have to disable format on save.

[2017-03-15 16:03] christianbalzer opened #779 "mssql won't install behind corporate proxy on MacOS"
I installed Visual Studio Code and the mssql extension today - or rather, I tried.

- MSSQL Extension Version: cf. error below
- VSCode Version: 1.10.2
- OS Version: MacOS 10.12.3

Steps to Reproduce:

1. Install plugin, open SQL file. Output pane pops up with output below:

[code]

Help, please? :)

[2017-03-15 18:47] benrr101 commented on #774
It seems absolutely bizarre to me that UTF-8 isn't properly supported for opening CSVs in Excel. But I digress.

After discussing with @sharonravindran I think the approach we want to take for exporting CSVs is thus:
* Support for exporting to Excel XLSX file is currently going through PR (https://github.com/Microsoft/sqltoolsservice/pull/279)
* We'll stick with the default of exporting CSVs as UT

[2017-03-15 18:47] #774 closed

[2017-03-15 18:50] benrr101 opened #780 "Encoding/Separator Config For CSV Export"
As per discussing in #774, let's add support for configuration options for CSV export. At a minimum, I think we should support:
* Config for file encoding (UTF-8, ASCII, UTF-16, etc)
* Config for column separator (comma, tab, etc)

[2017-03-15 19:15] benrr101 commented on #777
Thanks for the clarification! We've had a report of an issue like this before. I'm going to spin up a VM to try and reproduce the issue, but since it seems so intermittent, it might be hard to reproduce. Nevertheless, we want to figure something this serious out.

[2017-03-15 19:33] kburtram commented on #779
@llali can you confirm if this is the same as the issue you recently fixed?

[2017-03-15 19:36] kburtram commented on #769
@abist check with Sharon if this is a task you can poach from her

[2017-03-15 19:37] #686 closed

[2017-03-15 19:56] llali commented on #779
Yes probably related to the issue I recently fixed. @christianbalzer please try the latest daily release and if you still have the same problem let me know. you just need to make some changes in the extension before you run it. it's all explained here: https://github.com/Microsoft/vscode-mssql/issues/568
I'll create a temporary release that points to the url in Microsoft download center soon but f

[2017-03-15 20:39] #259 closed, assigned to anthonydresser

[2017-03-15 20:45] #283 closed, assigned to nobody

[2017-03-15 20:46] kburtram commented on #298
Closing as this hasn't been reported by customers in our first few preview releases.

[2017-03-15 20:46] #298 closed

[2017-03-15 20:49] #331 closed, assigned to anthonydresser

[2017-03-15 21:17] abist commented on #775
Hey @need47, I think the problem is indeed information_schema not being uppercase, More information [here](http://stackoverflow.com/questions/6023672/invalid-object-name-information-schema-columns-in-sql-server).

If this problem still occurs, please let us know.

[2017-03-16 00:02] abist commented on #773
Thank you for raising this issue @bergamin. This is a legitimate problem and we'll be looking into fixes for this issue :)

[2017-03-16 01:30] kevcunnane commented on #721
@renzska - no update yet. I plan to do another set of Formatter fixes later this month. However this is an area where we are encouraging users to get involved and help fix if they're willing. So if you (or anyone else) is interested, I'd be happy to help get people started on how to track this kind of issue down. It's likely in this case it's in the SqlBatchFormatter, so preservation or the newlin

[2017-03-16 01:32] kevcunnane commented on #778
@jorys - could you provide some more information? When you say "Select on a different instance (sys.servers)" what do you mean?
- Are you connected to a server using the connection profile?
- Is this a query against a linked server?
- Does this only happen in the VSCode extension, or does the same problem happen in SSMS/SSDT?

I'm asking the last question in particular since this sounds like it mi

[2017-03-16 02:22] kevcunnane commented on #721
@renzska actually - you inspired me to take a quick look and this seems an extremely easy fix. I have a PR out for this now (see https://github.com/Microsoft/sqltoolsservice/pull/282). If all goes well it'll be available in a daily alpha build within the next few days.
On a side note, I'm kicking myself for not using this as part of a demo video on contributing to the project. This one was really,

[2017-03-16 08:41] jorys commented on #778
Hello,

I tried a query on another table, MSSQL works perfectly!
For my problem query, I get a better message on SSMS:

So my problem is in the definition of the table.
Thanks for your help.

[2017-03-16 15:53] christianbalzer commented on #779
Installs. Thanks. :)

[2017-03-16 16:01] christianbalzer commented on #779
Having said that, the SQL server is this side of the proxy, but now it looks like all connections go through the proxy - so while I can install the plugin, I can't use it... :-/

[2017-03-16 16:54] kevcunnane commented on #779
@christianbalzer - For the server you're connecting to, can you use the IP address as the server name in order to connect?
Also, you can verify that connections work as expected by testing against a local SQL Server instance (on docker). See [here](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-docker) for instructions on setting this up.

[2017-03-16 17:21] kevcunnane commented on #721
This is now checked in. I'm closing this out, and it'll be in daily builds probably by Monday.

[2017-03-16 17:21] #721 closed

[2017-03-16 17:24] kevcunnane commented on #778
OK - I'll close this issue in that case. One thing is that if the error message is consistently different, it might be worth opening this as an issue against https://github.com/dotnet/corefx as this could be a regression (e.g. message handling isn't as good there as in .Net Framework).

[2017-03-16 17:24] #778 closed

[2017-03-17 01:56] haydnlj commented on #776
I tried running what you provided, and didn't change results. That is, the "MyProc" was created, and I could select from (  select * from myDatabase.INFORMATION_SCHEMA.routines  ) successfully, and indeed could then execute the proc I had created ("MyProc" not "MyProc2") - either way, executing procedures is not a problem, and all succeed - just definitions are blank via VsCode - all is fine in SS

[2017-03-17 19:50] kevcunnane opened #781 "Add Save as Excel button to results"
Now that Save as Excel is in the backend, we should add it through the frontend UI

[2017-03-17 20:48] benrr101 opened #782 "UI for Export As Excel"
Now that we have support in the sqltoolsservice for exporting to Excel files (thanks to @wjzhou!), we need to expose it via the VS Code extension and get it into our next release.

[2017-03-18 00:35] benrr101 commented on #781
... How did I not see this before I opened the dup.

[2017-03-19 20:00] kevcunnane opened #783 "Context menu actions are not localized"
We still use non-localized constants for the context menu items in the results view - see src/views/Htmlcontent/src/js/constants.ts. We should support localization of these too.

[2017-03-19 21:18] #781 closed

[2017-03-20 14:12] julielerman opened #785 "Inactive connection can't reconnect with out VS Code Restart"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version:  (thank you, dotnet --info)
Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

Steps to Reproduce:

1. Use mssql to connect to database, execute some queries
2. Leave VSCode open with the connection still active and go out for a walk or something
3. Note that conne

[2017-03-20 14:19] julielerman opened #786 "Idea: Allow Azure Portal to provide formatted profile for mssql to connect to Azure SQL"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: osx.10.11-x64

In the azure portal, there is a provision to easily copy paste various connection strings for an Azure SQL database;

![image](https://cloud.githubusercontent.com/assets/5007120/24103648/4c3d2e56-0d56-11e7-98ce-2ff50dedf3cc.png)

It would be great if there was another tab that formatted the connection for the ms

[2017-03-20 18:31] kevcunnane commented on #785
Thanks for raising this. We'll see if we can get someone to investigate later this sprint. It'll likely be next week before we make progress on this one.

[2017-03-20 19:21] julielerman commented on #785
just put someone on it who wants to do step 2 ...go for a walk :)

[2017-03-20 19:44] kevcunnane commented on #786
This is a good idea, though I'd pivot it slightly - we should accept standard connection strings from the most popular languages (ADO.Net, Java, Node.js) in our settings, and make it easy to pass these in during profile creation. We should also be more tolerant / add an option to save the connection data even if connection failed, so the user can try again. this would help in cases where the passw

[2017-03-20 20:13] julielerman commented on #786
That sounds great. Also I like being able to save even if the connection failed. Here's what I had originally written in gitter about this:
 I had a heck of a time because I couldn't copy paste the 4 bits needed and then when I typed in the password incorrectly i had to start again and it wouldn't add it to the profiles if it wasn't able to connect.
The reason I couldn't copy/paste is because once

[2017-03-21 02:27] #782 closed

[2017-03-21 02:43] IndifferentDisdain commented on #785
So I came across this bug as I was preparing for a lunch & learn for my company; for me, 'go for a walk' is more like 'blink twice'. Sysinfo since it's different than OP:

- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: (thank you, dotnet --info)
  Runtime Environment:
  OS Name: ubuntu
  OS Version: 16.04
  OS Platform: Linux
  RID: ubuntu.16.04-x64
  Base Path: /usr/share

[2017-03-21 06:07] zackeezy commented on #785
I'm having the same problem.  It seems to get worse with time.  When I first updated the extension to 0.3.0 and updated VSCode to 1.10.2 it works consistently for a while but I suddenly got the disconnect error.  I could restart VSCode and get it to work for a while, but then it would error out sooner and sooner. It's practically unusable.

- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2

[2017-03-21 20:54] renzska commented on #721
Awesome. Thanks!

[2017-03-21 22:45] bedej commented on #770
Same for me... when I connect, there's a "Updating Intellisense..." note in the system tray, but after it disappears there's still no schema-specific Intellisense for my table names etc. I'm on OSX.

[2017-03-22 14:04] horvay opened #788 "New Setting: allow new tabs to auto select sql lang and connect"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: Windows 10

Steps to Reproduce:

1. Connect to a DB in an existing tab
2. Open a new tab
3. One has to change the language, reconnect, and reselect their DB.

It would be nice if there was a setting to allow new tabs (control+n) to automatically select SQL as the language and connect to the same server/DB.

[2017-03-22 16:35] kevcunnane commented on #788
@horvay thanks for raising this. We have a "New Query" command that will open a new tab registered as a .sql file, which solves the first part of your issue. However, it doesn't currently open a ne connection based on the connection in the currently active tab. That's a good suggestion that would bring this in line with SSMS behavior. We'll keep this open on the backlog to update the New Query act

[2017-03-22 19:09] horvay commented on #788
I see it now. I added:
{ "key": "ctrl+n",         "command": "extension.newQuery",
                                     "when": "editorTextFocus && editorLangId == 'sql'" }

to my keybindings. Originally when I looked for this, I searched the default keybindings and didn't find anything. So I just guessed/figured extension.newQuery would work and it does.

[2017-03-22 23:22] Monasr opened #789 "Add community localization disclaimer and loc badge to VS marketplace content"
1.Add a disclaimer on the VS market place main page about community localization
2.Add a localization badge that points to project localization page on GitHub

[2017-03-23 20:16] benrr101 commented on #739
This feature is now checked into our dev branch and will be released in the next release. Will close this issue for now.

[2017-03-23 20:16] #739 closed

[2017-03-23 20:18] benrr101 commented on #738
Fixed in
https://github.com/Microsoft/sqltoolsservice/pull/283
https://github.com/Microsoft/sqltoolsservice/pull/292
https://github.com/Microsoft/vscode-mssql/pull/790

[2017-03-23 20:18] #738 closed

[2017-03-23 20:19] #769 closed

[2017-03-23 21:01] joelmartinez commented on #520
This seems to be the only mention of this error message, so I'll comment that I recently installed this code extension, and am receiving the same message.

This is on a Mac, and I do have dotnet core/openssl installed.

[2017-03-24 17:50] kburtram opened #791 "Clean up localization constants"

[2017-03-24 17:54] kburtram commented on #773
@abist SMO has been updated to RC3.  Please recheck the scenario.

[2017-03-24 18:17] coquagli commented on #520
@joelmartinez @ransagy can you describe the scenarios when you see this error? This is obviously a query execution error, but we're trying to narrow down the exact scenario that causes this to occur.

[2017-03-24 18:24] joelmartinez commented on #520
@coquagli Well, the scenario was that I opened a `.sql` file, created a connection profile (I had recently installed the extension), and tried to execute a query. The side-pane opened, it spun for a bit, and then gave me the error message.

For the sake of reproducing it, I just tried it again, and lo and behold, it works!

![image](https://cloud.githubusercontent.com/assets/90380/24308137/43f02d8

[2017-03-24 18:25] ransagy commented on #520
@coquagli Sadly, haven't found anything reliable. It does happen every few hours of querying.

[2017-03-24 20:00] coquagli commented on #520
@joelmartinez @ransagy Alright. Thanks!

[2017-03-24 20:45] benrr101 opened #792 "Implicitly Reverting a RowUpdate should Remove RowUpdate"
To Repro:
* Create edit session
* UpdateCell with the value it had originally
* GetCommand for the RowUpdate will generate an invalid query

[2017-03-24 20:46] #792 closed

[2017-03-27 07:23] King66 opened #793 "mssql extension can't download file with proxy"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: Win10

Steps to Reproduce:

with "http.proxy" setting I can install extensions, and the "C#" extension also can download file without error "EPROTO"

[2017-03-27 07:27] King66 commented on #793
https://github.com/Microsoft/vscode-mssql/issues/779

this is related...
closed..

[2017-03-27 07:27] #793 closed

[2017-03-27 17:31] benrr101 opened #794 "JS injection in column names"
Using a column defined as `[<script type='text/javascript'>alert('qqq')</script>]`, the column header when selecting * for the table will be blank. This implies that the column header is being interpreted as javascript, thus this is a javascript injection bug.

Fortunately, there's not a large impact for this bug since 1) column names that are js script tags are highly unlikely, and likely only go

[2017-03-27 18:10] #775 closed

[2017-03-27 23:54] benrr101 commented on #794
Fixed in #795

[2017-03-27 23:54] #794 closed

[2017-03-28 00:01] Monasr opened #797 "Add Localization contributors page to publicly acknoweldge contributors"
- MSSQL Extension Version:
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-03-28 00:25] demyte commented on #776
I have this issue as well on extension version v0.3.0

If I connect to an existing database, write a simple exec statement to exec an existing proc then use ALT+F12 on the name of the proc and I either get a tooltip saying no definition found for "procname" even though there are no red squiggly lines under my code, or I get an opened blank peek window.

VS CODE Version
===========
Version 1.11.0-i

[2017-03-28 02:15] remindnewmedia commented on #776
I've bumped into this. Connection to SQL works fine, I'm able to peek definitions on views and tables but not stored procedures.

I started a SQL Profiler Trace then peek'd a Stored Procedure in the format `exec dbo.uspProcName` which returned a blank definition window.

The business-end of the SQL Trace seems to be this query, which when run in the same VS Code window returned a table with NULL i

[2017-03-28 10:42] rinukkusu opened #798 "Add auto-sizing for result columns"
Currently all columns have the same width and it's really tiring to manually expand all the columns with content larger than the default width.

Proposal: set width of each column to the largest content in that column but still with a maximum width.

There already is a plugin for slickgrid, you potentially could use or check out:
https://github.com/naresh-n/slickgrid-column-data-autosize

[2017-03-28 18:09] anthonydresser commented on #798
Unless something has changed, I believe we are using that exactly plugin currently, it just doesn't happen on its own. Similar to Excel, you need to double click the edge of the column header (When your mouse icon changes) and it auto sizes to the largest content currently being shown (i,e not all cells). @coquagli is this still true?

[2017-03-28 18:40] coquagli commented on #798
@anthonydresser Yes, that is still the case. Double clicking the edge of the right side of the header will perform the resize @rinukkusu is describing. However, as you mentioned this resize is not automatically applied- the user has to trigger it.

[2017-03-29 08:13] rinukkusu commented on #798
Ah, perfect!

Do you think, it's possible to get an option for that, so it automatically expands if the option is active?

[2017-03-29 09:15] rinukkusu commented on #798
So I researched a little and it looks like it's not that easy to accomplish, since the actual registration of the plugins is done in [angular2-slickgrid](https://github.com/Microsoft/angular2-slickgrid/blob/master/components/js/SlickGrid.ts#L438) - so we have no access to the `resizeAllColumns()` the plugin would provide. 😢

[2017-03-29 17:55] anthonydresser commented on #798
@rinukkusu Technically its possible, the reason it wasn't done is because if you get a result back with a large binary field (could be upwards of 2gb), it would almost certainly crash vscode.

With regards to not being able to call resizeAllColumns...I see how this would be a problem in the current setup. A solution I can think of would be to add a function to the angular2-slickgrid class to get a

[2017-03-29 18:31] coquagli commented on #798
I think adding some sort of `getPlugin(pluginName: string)` function to angular2-slickgrid, then using that to perform the resize on-load would be the way to go.

@rinukkusu Our team also owns angular2-slickgrid, so we can support any pull requests you make in that repository. One of our team's top priorities is community engagment, so if you are interested in this feature we encourage you to crea

[2017-03-29 19:04] anthonydresser commented on #798
I'd still be hesitant to put a onload resize since thats a really easy way to possibly crash vscode if the user is getting data sets back with lots of data in the cells. Should probably, at least, put a warning on the option and have default to off.

[2017-03-29 20:16] coquagli commented on #798
@anthonydresser Yes, I would agree.

[2017-03-29 20:19] benrr101 opened #799 "Replace SaveAs Excel Icon with New Icon"

[2017-03-29 21:21] Raymondd opened #800 "Clean up localization constants in the tools service"

[2017-03-29 23:40] benrr101 commented on #798
On the other hand, is it possible to have it auto expand up to a maximum size? SSMS doesn't expand to the full size of the contents of the cell if it's specifically large, but you can still double click the column to expand even further.

[2017-03-30 09:23] ddotlic commented on #666
Just a note for the others stumbling upon this problem: if you have SQL 2008 **non-R2** you need to update to _SP4_ (10.0.6000.29).

[2017-03-30 14:57] rinukkusu commented on #798
I'm almost done with the feature, but I'm not exactly sure when to resize the columns.

I'm firing an event after the result set comes in `src/views/htmlcontent/src/js/components/app.component.ts`, because the config from the `DataService` is also coming in async.

https://github.com/rinukkusu/vscode-mssql/commit/558c603f2f51aaf19a610f196b2c9ca6dce88a37#diff-1df1f9bd5f3b0cf63b472db70bd235bfR416

A

[2017-03-30 17:04] anthonydresser commented on #798
@benrr101 the plugin being used is using the HTMLcanvas.measuretext in order to get size (which is the fastest options currently in html) however, there's no way to tell it to stop when it gets to a max size. This is going to be the biggest problem regarding have large datasets. The plugin itself already has a max size you can give it, but it still has to do the measurement to see if it needs to u

[2017-03-30 19:13] benrr101 commented on #798
@anthonydresser Ah, I didn't realize the size calculating part was the tricky part. Makes sense that this would be an issue.

[2017-03-30 23:13] benrr101 commented on #785
I'm attempting to repro this issue since it sounds pretty straight-forward. One clarifying detail I'd like to ask @zackeezy, @julielerman, and @IndifferentDisdain: were you connected to an Azure database or an on-prem server?

[2017-03-30 23:15] zackeezy commented on #785
@benrr101 I was connecting using localhost.  The database was on the same machine as my VS Code instance.

[2017-03-31 01:07] IndifferentDisdain commented on #785
@benrr101 localhost as well

[2017-03-31 10:47] BenWildeman opened #801 "Extension overrides Postgres syntax"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10.2
- OS Version: Windows 10

Steps to Reproduce:

1. Install MSSQL
2. Write PG SQL within a .sql file
3. Cry because of all the "errors"

When having to write SQL for both MSSQL and Postgres for my job, it's rather annoying that this extension has no idea about other SQL syntax that's very much valid

[2017-03-31 14:48] julielerman commented on #785
@benrr101 : azure

[2017-03-31 20:20] michaelaird commented on #435
Adding my $.02:

This should support Active Directory Universal Authentication the way SSMS does. ie. by opening the Azure authentication dialog. This is necessary for enabling those of us that have multi-factor authentication turned on for our AD accounts.

[2017-04-03 11:01] Nekronek0 commented on #718
Same errors here on Debian Stretch:
Failed to initialize CoreCLR, HRESULT: 0x80131500, corresponding to https://github.com/dotnet/cli/issues/2018.
Installing libicu52 solves the error

[2017-04-03 16:57] kevcunnane commented on #801
@NitroGhost thanks for raising this. We're somewhat limited by how VSCode supports language extensions - for a given file type, 1 editor is chosen. What might work is if you modified the PostGre extension to have additional, more specific file type (e.g. `.pg.sql`) and that way it would get used instead of our extension when opening that file type.

Regarding support for PostGre - this isn't in th

[2017-04-03 17:12] kburtram commented on #801
@NitroGhost another possible workaround for this issue is to add "mssql.intelliSense.enableErrorChecking": false option to your settings file.  This will turn off error highlighting for SQL files, but you'll still be able to use other language service and query execution features.

Longer term we can look at possibly detecting Postgres or MySQL syntax and disabling our error checker for those SQL

[2017-04-03 20:56] Mythikos opened #802 "Unable to provide null password ("!! Password is required.")"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.10
- OS Version: Windows 10

The password is a required field when attempting to set up a new connection profile. I have a local database for testing where I didn't actually set a password for the master account. I realize there are ways around this (setting a password, using windows integration) but I wanted to mention it seeing there could be

[2017-04-03 21:10] benrr101 commented on #785
Thanks for the feedback folks! I've gotten a repro scenario set up in Ubuntu against Azure where if I execute around 3 queries in quick succession, the backing tools service will crash. I'm currently working on debugging this since there isn't anything useful coming up in the logs.

[2017-04-04 11:57] steynpjm commented on #442
It works in version 0.3.0. Thank you all.

[2017-04-05 12:05] andrewralon commented on #785
More data!

I regularly use a VPN over wireless and find this problem consistently when VS Code has been open and had an open, working SQL connection. It is correlated to any one of the following:
- Waking the computer from sleep
- Wireless adapter fails to work properly after waking from sleep (disable/enable adapter in Network Connection fixes it)
- Disconnecting from the VPN involuntarily (assu

[2017-04-05 17:18] coquagli opened #803 "SqlToolsService fails to handle empty query requests"
The SqlToolsService will ignore empty query requests. A 'complete' message should still be passed regardless of if the query was empty or not.

[2017-04-05 18:45] benrr101 opened #804 "Failure to attach sqltoolsservice after crash"
OS: Ubuntu 16.04 (Xenial) Though this may be an issue on other OS's

After the tools service crashes, VS Code attempts to relaunch the tools service. This instance is not being properly hooked up to VS Code, causing the extension to think that it can't start the service. Problems:
1) This decimates reliability since the user will have to restart VS Code to start running the SQL stuff again
2) The

[2017-04-06 00:53] benrr101 commented on #785
@andrewralon Thanks for your specs!

Right now, we're hot on the trail of a very bizarre bug where on Ubuntu the backing tools service will *exit* -- not crash, exit -- for no reason whatsoever. I'm having such a hard time debugging it due to it's ability to evade all my attempts at breaking before it exist, I'm reaching out to some dotnet corefx devs to get their opinion. I'm unsure if this is th

[2017-04-06 12:46] andrewralon commented on #785
@benrr101 Of course!

I love this tool and and I MUCH prefer using VS Code to SSMS as much as possible. Keep up the great work.

That said, I've already written a script to disable/enable the wireless adapter so I can power on. Haha.

[2017-04-06 12:52] julielerman commented on #785
@andrewralon I have a q for you that's off-topic for this thread. Are you on https://gitter.im/Microsoft/mssql under some alias (that I'm not discovering)?

[2017-04-06 13:02] andrewralon commented on #785
@julielerman I am now.

[2017-04-06 22:11] ssmehaffie opened #805 "Installing SQLToolService fails behind firewall"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.1
- OS Version: Windows 7

Steps to Reproduce:

1. The extension tried to download the sqltoolservice and fails when installing behing a firewall.
2. I had to download the zip manuall and uncompress it in the "C:\Users\{userID}\.vscode\extensions\ms-mssql.mssql-0.3.0\sqltoolsservice\0.3.0.5\Windows" direcotry,  Untill I did that everytime I u

[2017-04-06 23:13] kburtram commented on #805
@llali could you please follow-up with @smehaffie to get repro sets?  Is it possible this is related to the proxy port issue you fixes a few weeks ago?

[2017-04-06 23:45] Raymondd opened #806 "Update XLIFF to RESX parser for the tools service"

[2017-04-06 23:51] #806 closed

[2017-04-07 11:00] sl-fedegiust opened #807 "Can't create SQL Profile"
- MSSQL Extension Version: 0.30.0
- VSCode Version: 1.11.1
- OS Version: OS X 10.12.3

Steps to Reproduce:

1. Installed VS Code
2. Installed MS SQL Extensions following instructions here https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-develop-use-vscode
3. Created a new file
4. Set the file to SQL
![image](https://cloud.githubusercontent.com/assets/13888424/24797526/02bee628-1b68-11e7

[2017-04-07 11:04] sl-fedegiust commented on #807
**UPDATE**

After I removed the extra comma on this line

[code]
on my settings.json I was able to save the profile and connect successfully.

[2017-04-07 16:12] kburtram commented on #807
@sl-fedegiust thanks for reporting this issue.  We check if the code to save profiles can be a little more robust to better handle JSON deserialization errors.

[2017-04-07 16:17] llali commented on #805
@smehaffie I fixed some bug related to proxy settings in this release: https://github.com/Microsoft/vscode-mssql/releases/tag/v0.3.0-alpha.17

Can you please give it a try and let me know if you're still seeing the issue?
Thanks

[2017-04-07 16:47] makcakaya opened #808 "Is it possible to work with Access Db?"
Can we use this extension to work with Access 2016?

I tried to do it but could not provide a valid connection string configuration:

`"mssql.connections": [
        {
            "profileName": "access",
            "server": "localhost",
            "database": "C:\\Users\\Pc Lab\\Documents\\Mert\\Yönetim Bilgi Sistemleri\\ders_ornek.accdb",
            "authenticationType": "Integrated",

[2017-04-07 21:29] kevcunnane commented on #808
@makcakaya that's not supported right now. Currently we only support SQL Server instances - all SQL Server Express or greater instances will work. Other database types (Access, SQLite, PostGre) are not supported right now.

[2017-04-07 23:54] cnshenj opened #809 "No Intellisense for table hints"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.1
- OS Version: Windows 10

Steps to Reproduce:

1. Use "MS SQL: New query" command and connect to a database.
2. Type `SELECT * FROM table_name WITH (NO`.

Expected: `NOLOCK` should be listed as auto-complete candidate
Actual: No auto-complete available

[2017-04-08 00:00] thomfogarty commented on #417
@kevcunnane I will happily be a guinea pig for this and report back. Adding the case 'arch' into platform.js did not give the expected results as I am still seeing "mssql: The platform is not supported" in the Command Pallete

[2017-04-08 12:42] julielerman opened #811 "Intellisense Cache Not Refreshing when executing the Refresh Command"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.1
- OS Version: OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

Steps to Reproduce:

1. Create new database
2. Verify that database exists with list databases snippet
3. Change mssql connection to that database.
4. Create new table
5. Verify table exists with list tables
6. type a command to query f

[2017-04-08 13:01] #808 closed

[2017-04-08 13:36] julielerman commented on #228
ping ... I just had this happen with 0.3.0. I tried to execute a query before the database was available (docker instance not running). So it hung. I started the db instance then tried to cancel the query but it wasn't connected to the database. I couldn't connect to the database because the query was running (error message). I couldn't cancel the query with the cancel query commend because the da

[2017-04-08 15:09] julielerman commented on #811
frustrating update. I started with a fresh container and a fresh connection to reproduce. After I created the new database, then the new table, the intellisense did its update right away on its own. I wish I knew more details about the first time to see what's different. :(  Feel free to close if it's completely un-reproducable but hopefully if someone else experiences it they can find this

[2017-04-10 12:21] Matticusau opened #812 "When I run a query with lots of result outputs it seems to hang."
When I run a query / script that produces a large number of result sets, such a cursor over a table and running a stored procedure (which returns 1 row) for each row in the source table the query results window seems to hang. I cannot run any other queries until I close that result window and all other result windows, then everything starts running as expected again. I also know that the original

[2017-04-11 09:20] Orphu7 opened #813 "Query execution hangs on 'Executing query...' and can not be cancelled."
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.1
- OS Version: Windows 7 x64

Steps to Reproduce:

1. Create a connection profile
2. Connect to the sql server (tried with several)
3. try to execute query (select * from sys.tables;)
4. The results dialog now displays "Executing query..." with the spinning wheel, but nothing happens.

Remarks:
- I can list the databases on the server and In

[2017-04-11 18:56] abist commented on #773
@kburtram reproducible in RC3

[2017-04-11 19:04] kburtram commented on #773
@abist did you determine if this is an issue in SQL parser or in the .Net Core port of SQL parser?

[2017-04-11 19:51] eliprand commented on #811
FWIW, my intellisense is not working at all. Long time VS Code user, I installed this extension to move away from JetBrain's DataGrip.
I am connected to a database in Azure. I can execute this simple statement `select * from Races`. However, I get no intellisense on the `FROM` clause. No `dbo`, no `Races`. Just keywords.
The output windows for `MSSQL` only shows success messages (connected, query

[2017-04-11 20:07] abist commented on #773
@kburtram I'm not sure where the issue is, but I can reproduce it in the latest SSMS as well.

[2017-04-14 01:43] kevcunnane opened #814 "Open XML/JSON cells as linked files is broken in Dev"
This was regressed by changes to support displayValue in the cells. We need to correctly parse this when dealing with the openLink event by using this method:

[code]

- MSSQL Extension Version: Dev
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Create a table and query it with `FOR JSON PATH` syntax, e.g.
[code]
2. Click on the JSON columns value in the results
Expected:
- JSON data is

[2017-04-14 06:43] Orphu7 commented on #813
Installing the latest release(v0.3.0 alpha 22) from vsix fixed the problem for me.
https://github.com/Microsoft/vscode-mssql/releases

Possibly related to this:
https://github.com/Microsoft/vscode-mssql/issues/805

[2017-04-14 06:43] #813 closed

[2017-04-14 16:21] pensivebrian commented on #577
You can delete this test, or change the way we validate no retry for queries.

This test was authored when using SqlClient built into .NET Core, which would throw when encountering a CLR UDT. We would retry when encountering this error, which was pointless since this query would never succeed. So, we updated the retry logic to not throw when encountering this exception, and added this test as veri

[2017-04-14 19:06] coquagli opened #815 "Grid container not sized properly when there are exactly 8 rows"
Steps to Reproduce:

1. Open a .sql file
2. Write a query that will return 2 resultsets: the first that contains exactly 8 rows, the second that contains more than 8 rows. E.g.:
[code]
3. Run the query
4. Resize the window to make it shorter

**Actual:**
![actual](https://cloud.githubusercontent.com/assets/24420239/25050637/7a9fc56e-20fd-11e7-8821-7260a3e91eb6.PNG)

**Expected:**
![expected](https

[2017-04-14 22:21] #815 closed

[2017-04-14 22:38] coquagli commented on #798
@rinukkusu I would like to follow up with you on this. Is there anything we can do to help you out?

[2017-04-14 22:48] coquagli commented on #577
It looks like this test already got removed. Closing this as a result.

[2017-04-14 22:48] #577 closed

[2017-04-17 15:27] thiagoabreu commented on #718
Had the same issue in elementary OS 0.4

[code]
I figured that it wasn't the `libcoreclr.so` file that was missing, but the `libunwind.so.8`. So I installed the package `libunwind8-dev` and it's working fine now.

[2017-04-17 15:38] MaximoTrinidad commented on #718
Thanks @thiagoabreu!  I will try this tonight when I get home.

By the way, I got side track on this one as the only problem still is with my Code Insider version on my main Linux system.  I can't seem to uninstall the application.

Can some help (or explain) how to completely remove the application?

I tried everything I know.  I tried the Ubuntu App, dpkg remove, and even search then "Move to Tr

[2017-04-17 20:10] Danieleeee opened #817 "Oracle DB"
Hi,
wonderful extension!
I would love to be able to use even with Oracle DB.
It's possible?

[2017-04-18 16:33] thiagoabreu commented on #718
@MaximoTrinidad Have you tried to delete the `~/.vscode/` and `~/.vscode-insiders/` folders?

[2017-04-18 23:44] Raymondd opened #820 "SRGen permanent fix"
The SqlToolsService has an issue with sharing SRGen constants between projects. sr.Designer.cs needs to be manually generated by saving .resx files in Visual Studio. Previously, this step was not important because this file was not used, but now that we are sharing constants between projects we need to do one of the following:
- Do not depend on the designer and make sr.cs public (requires modific

[2017-04-19 17:01] kevcunnane commented on #817
@Danieleeee thanks for raising this. At this time we don't have plans to support other database types. We'll leave this open on the backlog in case this changes.

[2017-04-19 20:34] coquagli opened #821 "Line selection does not work if there are 2 or more newlines at the end of the document"
Steps to Reproduce:

1. Open a .sql file
2. Enter a query that has exactly one newline at the end of the document, e.g.:
[code]
3. Run the query
4. Select the "Line 1" link from the message window - the region is highlighted:
![image](https://cloud.githubusercontent.com/assets/24420239/25200806/7c190152-2504-11e7-9986-469b8e494802.png)
5. Enter 1 or more newlines at the end of the document, e.g.:

[2017-04-20 00:32] benrr101 opened #822 "Decouple sqltoolsservice Test.Common and TestDriver"
Also ensure that only TestDriver.Tests relies on TestDriver components.

[2017-04-20 00:49] dzsquared commented on #718
I was having similar issues to @JudE2425 with the SQL tools service not starting in a chroot with Ubuntu 16 - the resolution was as @thiagoabreu suggested - installing libunwind8-dev.

`sudo apt install libunwind8-dev`

[2017-04-20 09:13] drorata opened #824 "Failing to login"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.12
- OS Version: macOS Sierra 10.12.4

Steps to Reproduce:

1. First, installed openssl (using `macports`) and created the symlinks:
[code]
2. Next, I installed `dotnet-dev-osx-x64.1.0.1.pkg`
3. Installed the `mssql` extension
4. Started a new file and set its language to `sql`.
5. Started a new connection `SHIFT + CMD +C`
6. Provided server

[2017-04-20 17:41] sanagama opened #825 "Support graphical visualization for spatial types in query results like SSMS"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.2
- OS Version: macOS Sierra 10.12.4

Steps to Reproduce:

Type the following query in the SQL editor and execute against SQL Server (I tried with SQL 2016):
DECLARE @g geometry;
SET @g = geometry::STGeomFromText('CIRCULARSTRING(2 0, 1 1, 0 0)', 0);
select @g

Result: the results window shows a column with binary data
Desired/Expected: graphi

[2017-04-20 19:14] ssmehaffie opened #826 "New Feature: When Using Integrated Allow To Enter Credentials"
- MSSQL Extension Version: 3.0.0
- VSCode Version: 1.11.2
- OS Version: Windows 7

I would like to be able to enter windows credentials when using integrated security.  That way I can access database in a differene domain other than the one I am logged into (examples: test\username, qa/username).  This would overcome a limitation of SSMS where you have to do a RunAs command to access database in d

[2017-04-20 22:47] abist commented on #821
It's a bug in the DacFx BatchParserWrapper

[2017-04-20 23:10] coquagli opened #827 "Query execution indicator has strange behavior when used with WAITFOR DELAY"
![image](https://cloud.githubusercontent.com/assets/24420239/25256027/d1a3c89e-25e2-11e7-8e3c-757913ff4a7e.png)

When I use `WAITFOR DELAY`, I'm seeing some strange behavior with the spinner (the thing that switches between `/`, `-`, `\`, and `|` to indicate that a query is in progress). I'm not sure if the `WAITFOR DELAY` is the cause of the problem or is simply exposing it by keeping it on scree

[2017-04-21 08:53] buzzzzer commented on #802
#363

[2017-04-21 17:07] kevcunnane commented on #826
@smehaffie thanks for this suggestion. At this point, we are limited in the same way SSMS is regarding this - we use the ADO.Net APIs in .Net Core for connection which do not, to my knowledge, support this. However we've heard about this twice so should keep it on our backlog and see if we can engage with the connectivity folks to understand if this is a feasible request.

[2017-04-21 17:18] kevcunnane commented on #824
@drorata just confirming - this is a SQL username and password rather than a domain login? At present we only support SQL Authentication on Mac and Linux. If so, is the repro to use `user.name` as the login? I'm wondering if non-`.` usernames work.

[2017-04-21 17:53] kburtram commented on #547
@kevcunnane Please validate if this is fixed already.

[2017-04-21 19:25] kevcunnane commented on #571
Completed

[2017-04-21 19:25] #571 closed

[2017-04-21 19:30] kevcunnane commented on #773
@abist - this is a regression in SMO if it also occurs in SSMS. We should raise this with the core team and get them to investigate.

[2017-04-21 19:33] kevcunnane opened #828 "Update version to 1.0 in service and extension"
For our GA release, we need to update the versions:
- Update in the build.sh scripts that produce our releases
- Update in our package.json

[2017-04-21 19:33] kevcunnane opened #829 "Release notes & prep for GA release"
- Create release notes
- Add to changelog

[2017-04-21 19:59] kburtram commented on #829
@kevcunnane we should also make sure that we have a "thanks message" for our open source contributors either in, or linked from, the release notes.  Both for the localization contributions and the Save to Excel feature.

[2017-04-21 20:00] kburtram commented on #825
Marking this is blocked since we need SQLCLR support in .Net Core before we can implement this feature.

[2017-04-21 20:05] kburtram commented on #828
@kevcunnane there's also somewhere that we tell VS Code that the release is preview or GA that we need to update.  Can't recall if this is in the marketplace or in one of the settings files.

[2017-04-21 20:07] sanagama opened #830 "Add 'Open in VS Code' to SQLDB/DW blades in Azure Management Portal"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.2
- OS Version: macOS Sierra

Steps to Reproduce:
1. Browse to http://portal.azure.com and navigate to a SQLDB/DW blade
2. Click on "Tools" in the top nav bar
3. Notice there is "Query Editor (preview)" and "Open in Visual Studio"

Desired/expected: add an "Open in VS Code" button/blade that launches VS Code on the local machine, similar to t

[2017-04-21 20:16] kevcunnane commented on #828
I think it's in the package.json

[2017-04-21 20:17] #574 closed

[2017-04-21 20:17] #573 closed

[2017-04-21 20:17] #572 closed

[2017-04-21 21:22] hookem opened #831 "Error running sql in a new unsaved document with language set to SQL."
Get error that no code language is defined when trying to run a new unsaved sql file where I have defined the language as SQL. Used to be able to do this in previous version. After saving the file with .sql extension it works as expected.

- VSCode Version: Code 1.11.2 (6eaebe3b9c70406d67c97779468c324a7a95db0e, 2017-04-13T08:03:11.395Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Exte

[2017-04-21 21:37] kevcunnane commented on #831
@hookem we don't provide a `Run Code` action. That's likely from your `code-runner` extension. The `Execute Query` action (Ctrl+Shift+E) is what you need to run a query. I see it at the bottom of the context menu in your gif.

[2017-04-21 22:44] sharonravindran commented on #741
I think this was fixed by @abist.

[2017-04-21 22:44] #741 closed

[2017-04-22 21:09] coquagli opened #832 "Resize handle is invisible in light theme"
Steps to Reproduce:

1. F1 -> "Preferences: Color Theme" -> "Light (Visual Studio)"
2. Open a SQL file and run a query
3. When the results window opens, try to drag the "Messages" region using the top of the grey handle

**Expected:** The message resize handle is not white so it can be seen
![image](https://cloud.githubusercontent.com/assets/24420239/25308236/0450becc-2765-11e7-93a4-aed4de52ecec.p

[2017-04-22 21:16] coquagli opened #833 "Results pane theme does not update"
Steps to Reproduce:

1. F1 -> "Preferences: Color Theme" -> "Light (Visual Studio)"
2. Open a .sql file and run a query
3. Wait for the results pane to open
4. F1 -> "Preferences: Color Theme" -> "Dark (Visual Studio)"

**Expected:**
![image](https://cloud.githubusercontent.com/assets/24420239/25308313/0abcea78-2766-11e7-8cb2-6cdf3309d0ff.png)

**Actual:**
![image](https://cloud.githubusercontent.

[2017-04-24 03:37] smehaffie commented on #805
Still cannot download the SQLTools.  Had to download manually and copy to extension directory.

[cid:image001.png@01D2BC82.14D4DAB0]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Leila Lali<mailto:notifications@github.com>
Sent: Friday, April 7, 2017 11:17 AM
To: Microsoft/vscode-mssql<mailto:vscode-mssql@noreply.github.com>
Cc: S. Shawn Mehaffie<mailto:pcre

[2017-04-24 06:50] drorata commented on #824
@kevcunnane When setting the connection I provide the URL to the database. As a username I provide: `DOMAIN\user.name` where `DOMAIN` is the domain and `user.name` is my username which includes a `.` (dot).

If I understand correctly, this means I need the `Windows authentication` which is not supported. Is that correct?

[2017-04-24 15:41] NitroGhost opened #835 "Setting mssql.intelliSense.lowerCaseSuggestions to true no longer works"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.2
- OS Version: Windows 10 Professional

Steps to Reproduce:

1. open VS code
2. edit/create SQL file and type a keyword
3. mindlessly hit enter
4. cry once you realise it's in uppercase and not your beloved lowercase

![code_2017-04-24_16-35-48](https://cloud.githubusercontent.com/assets/3674467/25345346/c290b60a-290c-11e7-97bc-7ced1cc4311f.

[2017-04-24 17:04] #832 closed

[2017-04-24 20:20] kburtram commented on #791
Looks like a duplicate of https://github.com/Microsoft/vscode-mssql/issues/800

[2017-04-24 20:20] #791 closed

[2017-04-24 20:22] kburtram commented on #764
This should be fixed in the dogfood builds.  We have an upcoming release in the next week or two that will contain this fix.

[2017-04-24 20:22] #764 closed

[2017-04-24 20:23] kburtram commented on #280
@kevcunnane I think this is fixed in the latest VS Code.  I'll verify as part of the GA sign-off.

[2017-04-24 20:24] kburtram commented on #350
@kevcunnane closing this out for now since we don't have plans to incorporate schema browsing tree into mssql for VS code in the near future.

[2017-04-24 20:24] #350 closed

[2017-04-24 20:26] kburtram commented on #458
Closing this out for now since we don't have near-term plans for this work and we can better track with the other SMO work-items in TFS.

[2017-04-24 20:26] #458 closed

[2017-04-24 20:26] kburtram commented on #450
@benrr101 I'll close this now since I assume any test failures from last year should have been fixed by now.

[2017-04-24 20:26] #450 closed

[2017-04-24 20:28] kburtram commented on #448
I'm going to close this issue since we haven't seen any recent reports on this issue and have done a couple release since the last comment.  Please reactivate if this is still an issue on the current release.

[2017-04-24 20:28] #448 closed

[2017-04-24 20:30] kburtram commented on #419
I'm going to close this issue since there hasn't been any recent activity, and we've had a couple public releases since the previous comment.  If this is still an issue please reactive so we can investigate.

[2017-04-24 20:30] #419 closed

[2017-04-24 20:31] kburtram commented on #370
I'm going to close this issue since there hasn't been any recent activity, and we've had a couple public releases since the previous comment.  If this is still an issue please reactive so we can investigate.

[2017-04-24 20:31] #370 closed

[2017-04-24 20:33] kburtram commented on #802
@Mythikos I'll close this issue and we can track through the duplicate issue https://github.com/Microsoft/vscode-mssql/issues/363.  Thanks for reporting the problem.

[2017-04-24 20:33] #802 closed

[2017-04-24 20:36] kburtram commented on #590
@benrr101 this is appears to be an issue in https://github.com/Microsoft/sqltoolsservice/blob/dev/test/Microsoft.SqlTools.ServiceLayer.TestDriver.Tests/QueryExecutionTests.cs.  What are the plans to enable or delete these tests?

[2017-04-24 20:36] #503 closed

[2017-04-24 20:37] #612 closed

[2017-04-24 20:39] kburtram commented on #451
@anthonydresser could you please provide some details on what is the impact of this bug so we can better triage the issue?  If there isn't a customer facing issue I'd recommend closing this out.

[2017-04-24 20:39] #534 closed

[2017-04-24 20:40] kburtram commented on #595
I'll close this now since there hasn't been any recent activity on this issue.  If this is still an issue on the latest builds please reactivate so we can investigate.

[2017-04-24 20:40] #595 closed

[2017-04-24 20:40] #536 closed

[2017-04-24 20:44] kburtram commented on #543
This was fixed as part of 0.3.0 release IIRC.

[2017-04-24 20:44] #543 closed

[2017-04-24 21:24] anthonydresser commented on #451
If I remember correctly, the problem was that if you had many results sets (enough to trigger my scrolling logic) and the first result set had more than 8 rows (the max size cutoff) but the rest had less than 8. The scrolling logic wouldn't work properly because it assumes all the grids are the same size as the first.

A customer would hit this if the first result set had 8 or more rows, and the r

[2017-04-24 21:33] kburtram commented on #451
@anthonydresser thanks!  I'll try to repro and gauge the customer impact.

[2017-04-24 21:35] kburtram commented on #406
I'm closing this now since there hasn't been recent activity with this issue and there's been a couple public releases since the last comment.  If this is still an issue please reactive so we can investigate.

[2017-04-24 21:35] #406 closed

[2017-04-24 21:37] kburtram commented on #718
@kevcunnane could you please confirm if there is anything we can do for this issue in the upcoming release?

[2017-04-24 23:06] kevcunnane commented on #824
Correct, you need Windows Authentication. This is supported on Windows but not Mac/Linux yet. This feature is high on our backlog (expected in the next 1-2 months) but requires us to update everything to .Net Core 2.0, which isn't officially released yet. Hence the delay.

I am going to close this as a duplicate of #356 as that's our main tracking item for that work.

[2017-04-24 23:06] #824 closed

[2017-04-24 23:48] anthonydresser commented on #833
I was working on a solution to this awhile ago, https://github.com/Microsoft/vscode-mssql/tree/feature/websocketHookForStyleChanges . The problem is I didn't like how I was doing the dynamic css changes, so I didn't continue you. The proper way would probably be to use angular dynamic classes and load both themes on load, which would require a css structure change.

[2017-04-25 00:18] coquagli commented on #833
Looking at the vscode source, it looks like it does theme changing by defining classes for each major theme type (`vs-dark` and `vs`). E.g.:
[code]

Then on theme change, the root element changes theme (e.g. from `vs` to `vs-dark`) which causes all children with the `mainColor` class to update from `#000` to `#FFF` automatically.

Obviously dealing with the Angular theme change is slightly differe

[2017-04-25 16:55] MattIrv commented on #835
I was able to reproduce this on Windows 10 and on Mac with mssql 0.3.0. It looks like all the intellisense-related settings shown at [https://marketplace.visualstudio.com/items?itemName=ms-mssql.mssql](https://marketplace.visualstudio.com/items?itemName=ms-mssql.mssql) now display "Unknown configuration setting" when trying to set them.

[2017-04-25 17:05] anthonydresser commented on #833
@coquagli Yes this is what I was suggesting, and then using angular dynamic classes (one way bind of the class of the entire page) then have the websocket just change the variable that the class is bound to.

[2017-04-25 17:08] coquagli commented on #833
@anthonydresser Cool. I think that is a good solution.

[2017-04-25 18:19] asmyers commented on #718
Also effects Ubuntu 17.04  Not sure if this is relevant but it appears to be downloading a tarbal for Debian?  It goes into the Debian directory under the extension but with 16.10 it was going into an Ubuntu16 directory.

[code]

[2017-04-25 19:07] abist commented on #280
@kburtram I can still reproduce this

[2017-04-25 19:09] kburtram commented on #280
@abist great, then I'll remove this from the GA milestone since the fix needs to come from the VS Code side when they update to an electron version that has the chromium fix.

[2017-04-25 19:10] anthonydresser commented on #280
Looks like this is still an open issue for electron, electron/electron#7375

[2017-04-25 19:13] abist commented on #803
should be fixed when [#318](https://github.com/Microsoft/sqltoolsservice/pull/318) is merged

[2017-04-25 22:41] llali commented on #805
@smehaffie can you please let me know what error you're getting?

[2017-04-25 23:20] #799 closed

[2017-04-26 00:10] #835 closed

[2017-04-26 01:15] smehaffie commented on #805
See three pictures attached to the original email.

PC Resources,  LLC
S. Shawn Mehaffie
________________________________
From: Leila Lali <notifications@github.com>
Sent: Apr 25, 2017 5:42 PM
To: Microsoft/vscode-mssql
Cc: S. Shawn Mehaffie; Mention
Subject: Re: [Microsoft/vscode-mssql] Installing SQLToolService fails behing firewall (#805)

@smehaffie<https://github.com/smehaffie> can you please

[2017-04-26 06:32] StanDaMan0505 opened #838 "Formatter Issue"
**Problem Summary**
•MSSQL Extension Version: <0.3.0>
•VSCode Version: <1.11.2>
•OS Version: Windows 10

**Formatter Settings**
[code]

**Input Text** - place unformatted SQL below
[code]

**Actual Output** - place formatted SQL (that doesn't work as expected) below
[code]

**Expected Output** - place formatted SQL as you'd expect it to look below
[code]
And it would be nice if we could define if

[2017-04-26 17:45] #803 closed

[2017-04-26 17:51] benrr101 commented on #785
I wanted to add another update to this so you don't think we're leaving you hanging. Unfortunately my efforts on this bug were deprioritized over the last couple weeks due to 1) need to get others unblocked from other bugs, 2) catching a cold, and 3) getting my wisdom teeth removed (it's been a crazy two weeks). Now that things are returning to normal, I'll be attempting to dig into the native sid

[2017-04-26 18:40] kburtram commented on #786
@MattIrv please look at this one next and let me know if there's any questions.

[2017-04-26 20:02] kevcunnane opened #839 "Formatter should have option to add square brackets around all identifiers"
Raised in issue #838, splitting out into its own issue to track the feature request. The formatter has an option in the SqlToolsService to support enclosing identifiers in square brackets but this was never implemented. It's feasible to do so but will require a good deal of testing to verify it works in all scenarios.

[2017-04-26 20:03] kevcunnane commented on #838
@StanDaMan0505 thanks for raising this. Regarding square bracket support, that's a great feature suggestion. I've created #839 to track this by itself.

Regarding the main issue: looking at the expected output, the commented code is no longer there. Are you suggesting the formatter should remove it?
Also, when I paste this into VSCode for myself, I'm not seeing the strange formatting error. Is the

[2017-04-26 20:08] andrewralon commented on #785
Thanks. Hit me up for more details as needed on a Windows box. For me, it is predictably linked to losing connectivity / waking the PC from sleep / wireless adapter crapping out. When I restart VSCode, I can connect like normal and all is well.

[2017-04-27 00:52] benrr101 opened #843 "Add gitter.im badge to project"
Add a gitter.im badge to the README.md file.

[2017-04-27 05:00] himrathana opened #844 "SQLQuery10"
- MSSQL Extension Version: widnows
- VSCode Version:
- OS Version: Linux

Steps to Reproduce:

1.
2.

[2017-04-27 11:11] StanDaMan0505 commented on #838
Hi Kevin,

Thanks for following up on this behavior.

Just right now, I found that the issue was from a different SQL-Prettyfier
I've installed previously.. After that one was uninstalled the behavior is
correct.
The case can be closed.

And thank you for creating an new case for the square brackets. Looking
forward to the future updates.

2017-04-26 22:03 GMT+02:00 Kevin Cunnane <notifications@gi

[2017-04-27 12:13] kevcunnane commented on #844
@himrathana It looks like you submitted this by accident? I'll close this out but please open a new issue / reopen this once you have details added about the issue you're having.

[2017-04-27 12:13] #844 closed

[2017-04-27 12:15] kevcunnane commented on #838
Great, thanks for clarifying!

[2017-04-27 12:15] #838 closed

[2017-04-27 12:16] #828 closed

[2017-04-27 12:16] #829 closed

[2017-04-27 12:33] kevcunnane commented on #807
@MattIrv @huypha @kburtram - I took a look at how VSCode does this. They have pretty robust JSON parsing and validation code at [JSON.ts](https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/json.ts), which is used by the  [ConfigModel<T>.update method](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/configuration/common/model.ts) to get the settings. We could leverag

[2017-04-27 18:57] rudiv opened #847 "Text always black in Messages output"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.12.0-insider, Shell 1.6.6, Renderer 56.0.2924.87, Node 7.4.0
- OS Version: Win10 1607 (14393.1066)

Steps to Reproduce:
1. Switch to Dark or Dark+ theme
2. Execute Query
3. View 'Messages' output

Result:
![image](https://cloud.githubusercontent.com/assets/976685/25499509/9d6cee38-2b83-11e7-9073-fa3e31d75210.png)

Issue persists throughout reloa

[2017-04-27 19:06] #814 closed

[2017-04-27 20:41] rudiv opened #848 "Suggestion for new formatter options"
This is just a suggestion for new formatters - apologies if you'd like these elsewhere please feel free to split / move.

`mssql.format.indentJoins: [true (default/current)|false]` to determine whether JOINS should be indented.
Justification: Joins are sometimes seen as an addition under the `FROM` keyword, just as columns are seen under the `SELECT` keyword, which makes the default behaviour make

[2017-04-27 20:48] rudiv opened #849 "CONCAT not recognised as keyword"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.2, Shell 1.4.6, Renderer 53.0.2785.143, Node 6.5.0
- OS Version: 10 1607 (Build 14393.1066)

Steps to Reproduce:
1. Set `"mssql.format.keywordCasing": "uppercase"` (and, for good measure though technically unrelated: `"mssql.format.datatypeCasing": "uppercase"`)
2. Use a query containing keyword/function `CONCAT`

[code]

3. Format Document (

[2017-04-27 21:07] rudiv opened #850 "FROM on newline controlled by placeSelectStatementReferencesOnNewLine"
In #848 I suggested `mssql.format.placeFromStatementReferenceOnNewLine`. Turns out this behaviour is (incorrectly, IMO) controlled by the `mssql.format.placeSelectStatementReferencesOnNewLine` option. Since the `FROM` statement is not the `SELECT` statement it makes semantic sense to not be controlled by the same variable.

MSSQL Extension Version: 0.3.0
VSCode Version: 1.11.2, Shell 1.4.6, Render

[2017-04-28 17:09] llali commented on #805
@smehaffie Can you please attach the image here? I had problem loading the image in my Email. Thanks

[2017-04-28 17:11] kburtram commented on #847
@kevcunnane this looks like a pretty bad regression to the messages output window.  We need to investigate before the next release.

[2017-04-28 18:53] kburtram commented on #786
@kevcunnane I'm moving this out of the GA milestone since it doesn't look like it will completed in time.  If it does land in a completed state in time I'll add the task back to the milestone.

[2017-04-28 20:54] kburtram commented on #807
@kevcunnane moving to the VS Code API directly would be the preferred fix.  It sounds like a medium-sized change.  Do you want to hold the GA release for this issue, or take the fix in GA+1?

[2017-04-28 21:37] #847 closed

[2017-04-28 22:43] MattIrv commented on #807
I took a quick look at this since the code is in the same place I'm working with for #786 , but it doesn't look like the VSCode API supports merging user and workspace settings.

For now, VSCode's documentation says that workspace configurations override user configurations if set (see https://code.visualstudio.com/docs/getstarted/settings), which matches the API's behavior.

[2017-04-28 23:00] kburtram commented on #807
@MattIrv thanks for looking in this.  I'm recalling now discussing the merging workspace\user settings issue you've mentioned.  I vaguely remember there was a case where we could lose user settings, though don't recall the specific details.

It sounds like we need to do a bit more investigation to resolve this correctly.  I'll remove it from the next release milestone for now since I don't think w

[2017-05-01 17:02] ChrisMiami commented on #356
This is huge for me and is the difference between being productive with VS Code on OSX or RDP'ing to a remote box to use an out-of-date SSMS that has only scripting capabilities. In fact, the inability to work efficiently has caused reprioritization of the project.  So this would help me immeasurably!

[2017-05-01 18:01] abist commented on #672
@kevcunnane Can you still reproduce this? I tried this on Windows as well as MacOS but was unsucessful

[2017-05-01 20:16] kannankandasamy opened #853 "host_name() in SQL Server Vnext in Visual Studio Code returns NULL"
VSCode Version: 1.11
OS Version: Windows 10
I am using SQL Server Vnext CTP 2.0 on Windows 10.

SELECT host_name()

function returns null if I use "Visual Studio Code" as client whereas it returns correct server name if I use SQL Server Management Studio 17 for SQL Server 2017.

FYI..

SELECT @@SERVERNAME

Returns correct instance name in Visual Studio Code.

Steps to Reproduce:

Install SQL Serve

[2017-05-01 20:20] benrr101 commented on #853
Hi @kannankandasamy, thanks for your feedback! This issue is already tracked in this issue https://github.com/Microsoft/vscode-mssql/issues/602

To sum it up: The issue is actually a bug in .NET Core and should be addressed in .NET Core 2.0. Upgrading to .NET Core 2.0 is a high priority for us in the next month+.

Since this is a duplicate, I'll close it, but if the issue I linked doesn't match wh

[2017-05-01 20:20] #853 closed

[2017-05-01 20:50] kburtram commented on #363
We'll take this in the first post-GA release since it's not currently signed-off, tested and merged into dev.

[2017-05-01 22:55] kburtram commented on #356
@ChrisMiami unfortunately this issue is blocked on upgrading to .Net Core 2.0 to provide this functionality.  Currently .Net Core 2.0 is a little too early in the development cycle to use in a shipping project, so we can't implement for the upcoming release.  We plan to upgrade to 2.0 in the subsequent release after that which will bring in integrated auth support.

[2017-05-02 00:24] kburtram commented on #718
The Ubuntu 17.04 issue appears to be an issue with .Net Core 1.0.  We're following up on how best to support this more recent distro, but we don't have a fix currently available.

I'm going to clear the GA milestone and we'll need to fix in the next release or hotfix.  I'll add a comment to the known issue list.

[2017-05-02 05:43] kburtram opened #854 "Invalid property descriptor error when canceling prompt"
See details at https://github.com/Microsoft/vscode/issues/25758

[2017-05-02 16:58] kburtram opened #855 "Some UI text is not properly localized"
The following UI text is not properly localized.

Peek-Definition
Execute Query
Messages
Total Execution time
Save as Json, CSV …
Code snippet descriptions “Select Rows from a table or a view”

[2017-05-02 17:12] kburtram opened #856 "Create SQL DW database query doesn't complete"
Run a script to create WideWorldImporterDW blocks saying "Executing Query..." and doesn't ever complete.  The database appears to be created properly though.

[2017-05-02 17:12] llali opened #857 "Creating WildWorldImportersDW database fails"
running the scripts to create WildWorldImportersDW fails with this error:

                Msg 9001, Level 21, State 5, Line 770
The log for database 'WideWorldImportersDW' is not available. Check the operating system error log for related error messages. Resolve any errors and restart the database.

                Msg 3314, Level 21, State 3, Line 770
During undoing of a logged operation in data

[2017-05-02 17:12] kburtram commented on #856
Setting as "GA blocking" while issue is being investigate this morning.

[2017-05-02 17:13] kburtram commented on #856
Duplicate of https://github.com/Microsoft/vscode-mssql/issues/857

[2017-05-02 17:13] #856 closed

[2017-05-02 18:24] MPVogelPaint opened #858 "Results Save as JSON match column type"
- MSSQL Extension Version: 0.3.0
- VSCode Version: 1.11.2
- OS Version: Windows 7 Professional

Steps to Reproduce:

1. Make a query:
[code]

2. Run the query
3. In the results window click "Save as JSON"
4. The JSON file is:
[code]
But the ID values shouldn't be wrapped in quotes since they're not string values.

[2017-05-02 18:28] abist opened #859 "Opening link for Line number in results opens a new window"
This occurs in the VSCode insiders build. Clicking on the link for line numbers in query result opens the highlighted lines in a new window

[2017-05-02 18:31] abist opened #860 "Switching tabs in result pane now loads slower"
Steps to Reproduce:

1. Run any query. Open another tab in the results window on the right.
2. Switch tabs in the results window. Rendering is slow now.

[2017-05-02 18:53] kburtram commented on #860
@abist I am not observing any noticeable slowdown rendering the results page with 0.3.0 vs. 1.0.0 on the latest stable and insiders builds.  Could you please collect profiling data for the two versions of the extension on the two available VS Code builds to confirm if there is an actual regression.

[2017-05-02 21:52] kevcunnane commented on #672
Let's close and if we run into it again even after the fixes you've done, we can re-open

[2017-05-02 21:52] #672 closed

[2017-05-02 22:44] abist commented on #680
@afoliaco We have had newer releases which should have taken care of this problem. Please open a new issue if you still face this problem. I'm going to go ahead and close this issue for now.

[2017-05-02 22:44] #680 closed

[2017-05-02 23:54] coquagli commented on #860
After investigating this further, I don't think this is a regression. I am seeing equally poor performance (~2-
3 seconds) from both 0.3.0 and 1.0.0. I don't know why this is performing extra slow on my machine, but it appears to not be an issue specific to 1.0.0.

[2017-05-03 00:00] kburtram commented on #857
It looks like working with existing SQL DW databases is working as expected, so I'll remove the GA milestone for this issue.  We can follow-up for the next release.

[2017-05-03 00:37] abist commented on #860
@coquagli I thought the same. I'll close the issue for now, but if you find the reason why it was that slow, let us know!

[2017-05-03 00:37] #860 closed

[2017-05-03 01:28] kburtram commented on #859
I've opened an issue in VS Code repo to track this https://github.com/Microsoft/vscode/issues/25801

[2017-05-03 16:53] benrr101 opened #862 "Encrypt connection strings"
It is imperative from a security perspective that we encrypt sensitive information that users input into our tools. With the newly added support for creating connections using plain connection strings, it is likely that some users (particularly Azure users) will copy and paste in connection strings that contain passwords. The current implementation would store the sensitive connection string in th

[2017-05-03 16:57] kburtram commented on #859
It looks like this was fixed on the VS Code side so I'll close this issue.

[2017-05-03 16:57] #859 closed

[2017-05-03 17:10] kburtram commented on #854
It looks like we can suppress the error message by checking for TypeErrors where we check for EscapeExceptions.  I think this is fine to unblock this release, but we should follow-up on what's changed.  I could repro this issue with the simple example of throwing from a prompt promise `.then` block, so it appears to be related to something else going on in our prompting framework.

@kevcunnane  se

[2017-05-03 19:25] coquagli opened #863 "Save as JSON opens file in Plain Text mode when no extension provided"
Note that I am using the current Insiders build:

![image](https://cloud.githubusercontent.com/assets/24420239/25678147/95cf3842-2ffd-11e7-8eb0-8109e03444dc.png)

Steps to Reproduce:

1. Run a query
2. Click the "Save as JSON" button
3. Type a filename

**Expected:** The new file's mode is JSON, which highlights the syntax properly.
![image](https://cloud.githubusercontent.com/assets/24420239/2567

[2017-05-03 19:32] kburtram commented on #863
@coquagli I wasn't able to reproduce this.  Are you typing a file name with a JSON file extension, or some other extension?  Are there any other repro steps I need to follow?

[2017-05-03 19:40] coquagli commented on #863
@kburtram I am using the latest Insiders build, which might be the cause:

![image](https://cloud.githubusercontent.com/assets/24420239/25678165/a3c1c17c-2ffd-11e7-996c-6d5ea0cae2f4.png)

[2017-05-03 19:42] kburtram commented on #863
@coquagli I tried to repro on both today's insiders build and the stable build on Linux and Mac with repro.  I'll check on Windows with today's insiders build.

[2017-05-03 19:44] coquagli commented on #863
@kburtram With repro or without repro?

It looks like adding `.json` sets the mode correctly, while adding no extension or the wrong extension sets the mode incorrectly. This may just be by design, rather than a bug.

[2017-05-03 20:07] kburtram commented on #863
@coquagli sorry, I meant "without repro" :)  When I didn't provide an extension the file opened as plain text, but when I provided a .json extension the file was correctly opened in JSON mode.

I'm not sure if there was a change here, since I typically provide a .json extension when testing this feature.  Do you know if this is a behavior change?

[2017-05-03 20:08] kburtram commented on #863
...removed "needs repro" tag and updated title to better describe the observed behavior.

[2017-05-03 20:10] benrr101 commented on #863
I think whether this is considered a bug or by-design is up for debate. The tools service will write the file out to the name provided as-is, which makes logical sense. However, this also differs a bit from the behavior of save as dialogs in Windows (and probably other OSs but I don't have the data to confirm) -- if an extension is left off when typing the name of the file, but the default extensi

[2017-05-03 20:29] coquagli commented on #863
I'm going to guess it's not a behavior change, but I'm not sure at the moment.

[2017-05-03 20:31] kburtram commented on #863
I'll add this to the backlog so we can triage when review issues for the GA+1 release.

[2017-05-04 14:11] nivek7 opened #864 "Empty String value copied to Clipboard as "null" text value"
- MSSQL Extension Version:  1.0.0
- VSCode Version:   1.11.2 (1.11.2)
- OS Version:  10.12.4

Issue:
I have queries written where I use either a COALESCE or ISNULL function to convert NULL values to empty strings ('') (or technically not convert, but return the first non-NULL value etc).

The results display as intended in the results pane in VS Code, however, when I copy and paste these results t

[2017-05-04 18:04] MattIrv commented on #786
With the merge of #861, adding profiles using a connection string is now supported. Specifically, you can give an ADO.NET connection string during profile creation at the server prompt.

Unfortunately it wasn't in time for the GA release, but you can install the private build at https://github.com/Microsoft/vscode-mssql/releases/tag/v1.0.0-alpha.5 if you want to try it out.

I'll go ahead and clos

[2017-05-04 18:04] #786 closed

[2017-05-04 18:22] kburtram commented on #864
@benrr101 I think this looks its related to https://github.com/Microsoft/vscode-mssql/pull/736.  Returning `''` at QueryRunner.ts line 335 (https://github.com/Microsoft/vscode-mssql/blob/dev/src/controllers/QueryRunner.ts#L335) seems to resolve this issue, but I'm not sure if this impacts the scenario your PR is addressing.  Could you take a look and make the appropriate fix here?

Here's a simple

[2017-05-04 18:37] benrr101 commented on #864
@nivek7 Thanks for reporting this, it is definitely a regression. Looking at our code for copying cells, a short-term workaround would be to turn off `copyRemoveNewLine` in your settings. This has the side effect of new lines being copied, but this might be a tolerable side effect. In either case, I'll get working on a more robust solution.

For technical background, we get DbCellValue objects whe

[2017-05-04 19:15] benrr101 commented on #864
I've coded up a solution in #865
Thanks @kburtram for the sample table. It made verifying a lot easier!

[2017-05-04 23:31] kburtram commented on #864
@nivek7 this private build includes @benrr101's fix https://github.com/Microsoft/vscode-mssql/releases/download/v1.0.0-alpha.6/mssql-1.0.0.vsix.  You can side-load it using the "Install from VSIX.." option in the Extension Manager "..." menu.

This fix will be included in the next release, though we don't have a date set for that yet.  Please try the private build or the workaround @benrr101 menti

[2017-05-04 23:31] #864 closed

[2017-05-05 12:17] mathsalmi opened #866 "MSSQL won't work on Fedora 25"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.12.1
- OS Version: Fedora 25

Steps to Reproduce:

1. Open vscode
2. Select SQL file type
3. See console below:

SqlToolsService Initialization:
Initializing SQL tools service for the mssql extension.Note: mssql commands will be available after installing the service.Platform: linux, x86_64, name=fedora, version=25 (Fedora)

SQLToolsService:
Fai

[2017-05-08 14:42] kburtram commented on #866
This is probably related to lack of .Net Core 1.0 support for newest distro versions.  I'll check if the .Net Core 2.0 upgrade is expected to fix this.

[2017-05-09 12:23] mathsalmi commented on #866
Hmm okay. Any ideas about when it'll be released?

[2017-05-09 20:09] kevcunnane opened #867 "Fix loc issues raised in Transifex for the VSCode-MSSQL extension"
Issues to fix:

- Remove use of LocalizedConstants from Utils.logDebug calls. These are only used for diagnostics when debugging the extension, and are not useful as translated strings. See https://www.transifex.com/microsoft-oss/vscode-mssql/translate/#zh-Hans/$/108265949?issue=yes for an example.

[2017-05-09 20:28] kevcunnane opened #868 "Fix loc issues raised in Transifex for the SqlToolsService"
Remove unreferenced strings
1.      Query successfully cancelled, failed to dispose query. Owner URI not found.

2.      The batch has not completed, yet

3.      Batch parser wrapper execution: {0} found... at line {1}: {2} Description: {3}

Poor English source string
“Batch parser wrapper execution: {0} found... at line {1}: {2} Description: {3}”
Scripting warning.

[2017-05-10 20:42] #867 closed

[2017-05-10 23:57] zafaralam commented on #785
Was there any update on how log it would be before a fix rolled out or a work around?

[2017-05-11 14:39] GabrielDuarteM opened #870 "[Suggestion] Create a command to execute only the current statement"
- MSSQL Extension Version:1.0.0
- VSCode Version:1.12.1
- OS Version:Windows 10

Just like the CTRL+Shift+E executes the whole script, as a user, i think it would be nice to have another shortcut to execute only the current statement (the one where the cursor is lying), so that i would't have to select every statement that i want to run. This would improve my overall workflow when using that plugi

[2017-05-11 15:33] abist commented on #776
We've had new releases and hopefully this is fixed. If you still see this problem in the latest release, please open a new issue so we can track it. Thanks!

[2017-05-11 15:33] #776 closed

[2017-05-11 17:47] jjcapron opened #871 "Executing a SQL statement produces no results"
- MSSQL Extension Version:  1.0.0
- VSCode Version: 1.12.1
- OS Version: Windows 10

Steps to Reproduce:

1. Created profile to already established database.
2. Open new editor.
3. Pressed **F1** and then selected **MS SQL: Connect** and selected created profile.
4. Typed in **Select** statement of a table I knew was small (around 7 rows). (During the typing, intellisense suggests Table name for m

[2017-05-12 05:15] haydnlj opened #873 "Go to Definition and Peek Definition not working for stored procedures"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.12.1
- OS Version: Win 10 Enterprise
- SQL Version: 10.50 SP2 - (10.50.4000	MSSQL 2008R2 Service Pack 2)

**Note**
This was previously posted as issue #776, and closed due to new MSSQL Ext. version release (1.0.0) - rather than a specific fix being applied. Have confirmed via re-testing that the issue has not been addressed with the new version

[2017-05-12 12:57] kkwillmert opened #874 "Tab characters in body strings break code snippets"
User code snippets I had set up on a previous version of the mssql extension that contained tab characters in the body strings no longer work, and when viewing the sql.json file for the snippets, I get  a red squiggly error indicator on the first body string that contains a tab character.  Removing the tab from that string will cause the red squiggly to show up on the next body string with a tab.

[2017-05-12 14:06] mathsalmi commented on #870
That'd be handy indeed. [Postico](https://eggerapps.at/postico/) does this very well perhaps it serves as an inspiration.

[2017-05-13 18:59] GabrielDuarteM commented on #870
Just as another open-source example, [HeidiSQL](https://www.heidisql.com/) has this feature as well

[2017-05-15 17:27] kburtram commented on #870
@GabrielDuarteM @mathsalmi this is a great suggestions.  We'll take this for the next release.

[2017-05-16 19:02] alohaninja opened #875 "Object Explorer / Server Explorer Pane"
Can we get support / integration with object explorer and VS Code? SSMS navigation is just awful - the SLN/Project structure leaves more to be desired. VS Code is the single tool to rule them all!

Would love to help work on this feature if possible.

[2017-05-16 21:27] EdwinSaenz opened #876 "Option to automatically fit all columns in Results tab"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.12.2
- OS Version: Windows 10

When seeing results from a query I can double click on the edge of a column to auto-fit. It would be nice to have an option to auto-fit all columns.

[2017-05-16 23:20] kevcunnane commented on #586
Another user has requested this - see #875. It looks like the API to enable this might be implemented soon as it's on the May roadmap for VSCode: https://github.com/Microsoft/vscode/issues/26068. We can consider implementation of this if the API is made public and included in full builds.

[2017-05-16 23:21] kevcunnane commented on #875
Thanks for raising this. I've added your request to #586 as it's a duplicate of this request. We're still blocked on lack of an API to support this, but it seems that VSCode may be moving to add one. If so, we can look into supporting as we've added some backend APIs that would help with this. I'm going to close out this issue since we alreay have #586 tracking this, but please feel free to monito

[2017-05-16 23:21] #875 closed

[2017-05-16 23:24] kevcunnane commented on #874
@kkwillmert I believe this is an issue in the VSCode snippet support. Taking a quick search over their issues, it appears that you should use `\t` instead of the tab character to have this handled correctly. This will also ensure users tabs vs. spaces preferences are respected. I'd like to close this as external if you have no objections?

[2017-05-16 23:27] kevcunnane commented on #873
@haydnlj could you provide a sample script to create a DB we could test against? And also information on the server you're connected to - is it local? On a network? Remote (either Azure or a different network)?

We're struggling to get a reliable repro for this. It may be that queries are timing out more regularly for Stored Procedures since the SMO scripter we use can take a while to fully script

[2017-05-16 23:32] kevcunnane commented on #871
@jjcapron is this reliably happening for you? I can't reproduce this and it's a fairly key scenario so we'd expect to see more reports if this was failing.

[2017-05-16 23:36] kevcunnane commented on #356
As we now have a .Net Core 2.0 Preview release, we can target support in our next update. This will depend on stability of the .Net Core 2.0 APIs

[2017-05-16 23:37] kevcunnane commented on #831
Closing this out as we haven't heard back about this.

[2017-05-16 23:37] #831 closed

[2017-05-16 23:38] kevcunnane commented on #238
Due to no complaints about this, going to close out as not needed

[2017-05-16 23:38] #238 closed

[2017-05-16 23:41] kevcunnane commented on #272
Closing due to lack of customer reports.

[2017-05-16 23:41] #272 closed

[2017-05-16 23:44] kevcunnane commented on #420
I'm going to close this as out of scope for our extension. We've got a fairly clear scope for what this extension does, and this kind of scenario doesn't fit in it. We don't intend putting administration / backup / migration features into this VSCode extension.

[2017-05-16 23:44] #420 closed

[2017-05-16 23:46] kevcunnane commented on #417
@thomfogarty @benrr101 OK - if this works could you create a PR with the change? That will let us update and verify.

Separately, the fact that .Net Core 2.0 lets us target a single Linux architecture gives me hope that we could just build once for all Linux platforms and have this handled by the framework. However for now, the above fix could work well.

[2017-05-16 23:46] kevcunnane commented on #398
This doesn't seem to have been bumped up the priority order. Closing, can reopen if someone decides we really need it.

[2017-05-16 23:46] #398 closed

[2017-05-17 00:07] haydnlj commented on #873
@kevcunnane - thanks for the follow up. To answer your questions;

The server is on a local network, and although not explicitly mentioned, executing stored procedures via VSCode works perfectly fine.

Based on the quick database I created, the same issue persists - see peek results in image attached, you'll notice that the Proc peek at the bottom returns a blank definition, yet the proc exists fi

[2017-05-17 03:03] kkwillmert commented on #874
No objections at all, and thanks for researching and passing along this
info!  I had assumed it was an mssql issue since I encountered it
immediately after I updated mssql, but a few days after I last updated
VSCode.  Probably I just hadn't used that particular snippet since
installing the VSCode update.

For the record, I love the mssql extension, it has entirely replaced my use
of SSMS for my da

[2017-05-17 13:41] alohaninja commented on #586
Hope to see " Support to contribute a tree section to the explorer" Extension API get knocked out soon!

Thanks @kevcunnane!

[2017-05-17 18:12] kevcunnane commented on #874
Glad you're a happy user! Closing this out.

[2017-05-17 18:12] #874 closed

[2017-05-17 20:34] Monasr commented on #855
Which language is this issue logged for?

[2017-05-18 00:05] benrr101 commented on #238
For the record, I still have this code stored away in my fork of the toolsservice. If we ever do need it, it shouldn't be too terrible to port it back in.

[2017-05-18 14:09] nivek7 opened #877 "Results Pane Scrolling Issue"
- MSSQL Extension Version:  1.0.0
- VSCode Version:  April 1.12
- OS Version:  MAC OS Sierra

This has been an ongoing issue and I would guess, is most likely a MAC issue. The results pane, after populating the results of a query, does not seem to respond well to scrolling.

Often, the rows disappear, then "refresh". There is usually a delay when scrolling through the rows before the actual values

[2017-05-18 14:21] nivek7 opened #878 "Tab Navigation Re-Executes Query"
- MSSQL Extension Version:
- VSCode Version:
- OS Version:

When navigating between tabs, there is a message "Executing Query". Is it actually re-executing the query when simply returning to a tab that had previously been populated with a recordset?

Can this behavior that can be switched off?

Steps to Reproduce:

1. Create 2 queries in separate tabs
2. Execute each
3. Switch from one results tab

[2017-05-18 14:56] msard-oz opened #879 "MS-SQL Extension, unable to cancel query."
- MSSQL Extension Version:
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Select language SQL.
2. Start a long running SELECT (in my case it was a JOIN).
3. Try to cancel the query with the provided "Cancel query" command.

Result:
The query doesn't seem to get cancelled.
In some cases partial results are displayed, but the "Messages" pane still shows the query as running.
There is no wa

[2017-05-18 18:06] kevcunnane commented on #878
No, this isn't re-executing the query. What happens is that the messages sent to the UI are replayed quickly, which may result in you seeing this message temporarily. However we only execute if you send the execute command - this is separate from UI loading/reloading.

[2017-05-18 18:19] nivek7 commented on #878
Great, thanks for the clarification. I did just take note of the fact that the execution time is identical upon refresh which I would assume would fluctuate if the query was actually re-executing. Thanks again.

[2017-05-18 21:03] anthonydresser commented on #878
Probably still a bug here to clean up the loading of the page to not show that if the query was indeed already executed

[2017-05-18 21:50] kevcunnane commented on #807
Another note - checking the VSCode doc page pointed me to https://www.npmjs.com/package/jsonc-parser for json parsing. I think this could be used to get the robust parsing we need

[2017-05-19 02:31] mrkaminski77 commented on #726
This is strange because the formatting tool gets it right but the highlighting is all wrong.

[2017-05-19 17:29] kevcunnane commented on #726
@mrkaminski77 The extension uses a Textmate bundle for colorization - it's essentially a set of regexes that are independent from the IntelliSense parser and formatter tools. So the fix would likely be to update this with additional handling of the `@` symbol and brackets. I suspect brackets in particular could be an interesting one (handling of escaping etc.) but it's a good one to look into for

[2017-05-22 02:06] mrkaminski77 commented on #726
@kevcunnane I believe it is this bundle: https://github.com/textmate/sql.tmbundle but I don't really understand TextMate yet.

[2017-05-22 14:28] jgcandelaria opened #880 "MSSQL Connection"
- MSSQL Extension Version: Latest
- VSCode Version: 1.12
- OS Version: Sierra 10.12.5

Steps to Reproduce:

1. I continue to get an connection error to a SQL Server Instance in our work domain
2. I tried creating several profiles and none connect to a SQL Server Instance

[2017-05-22 22:14] schallm opened #881 "Copy as XXX to Clipboard"
Most times when working with data, I really want to copy results to an email or another document.  So rather than saving to a document, just copy to my clipboard.

Feature request to add functionality similar to "Save As" buttons and right-click options, only copy output to clipboard instead of a file.  Excel doesn't make sense, but currently CSV and JSON would be great.  Inserts and updates as we

[2017-05-22 22:33] kevcunnane commented on #881
This is a pretty nice suggestion. It's definitely feasible to do so but would require a bit of plumbing to handle it. Will leave it open for consideration on our backlog, but I'd also note this is a perfect case for community contributions (mostly replumbing / altering how we call into methods).

[2017-05-23 04:08] jjcapron commented on #871
Yes. At one point, when I first installed Visual Studio Code and this extension, i got it to work for a simple query. That was the only time though. I was wondering if maybe a setting was blank when it is not supposed to be but it is not giving an error. I can connect to the databases using SSMS but not with VS Code. It is Integrated Security so no need for password. Any log other than the output

[2017-05-25 16:00] 4mitch commented on #870
Dreaming of this since moved to SQL Server from Oracle PL/SQL Developer with it's ";"

[2017-05-25 18:29] 4mitch commented on #424
I'm also eager for this implementation. I even not so want to make custom extentions or tasks as just want to add custom SQL Server command to context menu based on selected text. I.e. run SP_HELP on selected table, proc name etc, or run other sp_procs.

[2017-05-25 19:07] dylan-azucena commented on #424
Yeah this would create the ability to mimic management studio's Query Shortcuts. In VSCode I currently have a keyboard shortcut for adding text like sp_help to a selection, but it would be nice to run it all in one keystroke.

[2017-05-25 19:10] benrr101 commented on #785
As an update, we're currently looking into upgrading our code to utilize .NET Core v2. This will allow us to get a wide variety of new functionality, improve on our installation story, and we hope will fix this issue. I believe our target for a release using .NET Core 2 is June.

[2017-05-25 22:22] erickangMSFT opened #883 "Support for ~/ and ./ for Save As CSV, JSON, Excel on Mac and Linux"

[2017-05-25 22:23] erickangMSFT opened #884 "Automatically fill in the extension for SAVE AS"
Better UX. If user does not provide .extension type, automatically fill in .json, .csv or .xslx extension type name.

[2017-05-26 00:55] huypha opened #885 "Extension crash on open of .sql file"
SQL Tools Services crashes or fails to start for the extension if an already-created sql file is opened. It seems this might have to do with the file's path. An example file path that crashes sql tools service is "F:\SqlDevTools\sqltoolsservice\test\Microsoft.SqlTools.ServiceLayer.Test.Common\TestData\TSqlFormatter\TestFiles\CreateProcedure.sql".

Log: [sqltools_2017052517380114960.txt](https://gi

[2017-05-26 00:58] huypha commented on #885
This issue should have been placed under SQL Tools Service

[2017-05-26 18:37] benrr101 commented on #679
Just to add an update to this, in the current release the total execution time is hidden until the execution completes. However, it would be useful to show the execution time as ticking up while its still executing. This is something we could add with a bit of effort.

However, it's also a feature that would be ripe for a community contribution. @lw-schick If you're interested and familiar with an

[2017-05-28 02:16] basabuber commented on #718
Just fyi, latest release .Net Core seems to work fine (for me) on Ubuntu 17.04.

[2017-06-01 00:49] jtterry2856 opened #887 "Is it possible refresh intellisense cache for db schema?"
I ran a query where the table was missing. Once i created the table and re-ran the query it completed successfully but editor is still showing errors. In ssms i would normally have done `CTRL + Shift + R` to refresh the cache. Is there a similar command to refresh editor intellisense so that errors are removed? I wanted to ask before reporting a bug.

[2017-06-01 00:59] kevcunnane commented on #887
Yes - if you hit F1 and choose the `MSSQL: Refresh IntelliSense Cache` command this will work. Note that you may need to hit space or another key to kick off an intellisense refresh in the VSCode UI after this.

[2017-06-01 21:38] sgpeter1 opened #889 "Wildcard Expansion for SELECT statements"
It'd be great to have wildcard expansion for SELECT statements.

[2017-06-01 21:40] TokenJedi opened #890 "Connection lost and cannot reconnect issue"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.12.2
- OS Version: Win 10

I intermittently get stuck with some type of weird connection state.
Granted, this happens when the underlying DB that I've connected to has changed name; however, this does not happen in SSMS and the only solution I can find right now is to "bounce" VS Code.

It would be nice to just be able to force the disconnect an

[2017-06-02 16:32] ckapilla opened #891 "Create Connection Profile Aborts Without Warning"
- MSSQL Extension Version:
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Start creating a new connection profile
2. enter some data
3. change focus to another window (for example to copy a long, complex password)
4. All your work is lost without warning!

[2017-06-04 23:56] davoscollective commented on #891
This makes it impossible to copy paste a connection profile, for example copying a complex password from a password manager.

[2017-06-05 00:50] datfinesoul commented on #356
This would be extremely helpful!  Thanks for working on this feature.

[2017-06-05 13:06] carlowahlstedt commented on #356
@kevcunnane Looks like they aren't currently working on Mac?
 https://github.com/dotnet/corefx/issues/2089#issuecomment-300227321

[2017-06-05 17:25] kburtram commented on #855
@Monasr this is a generic issue for all languages related to the way these components are built with hardcoded strings in the HTML templates.

[2017-06-05 17:30] kburtram commented on #879
@benrr101 could you please try to repro this issue?

[2017-06-05 18:21] Monasr commented on #855
Thanks Karl, are these already exposed to localization? for some reason I can 't seem to find the strings in the SR.XLF file that we localize

[2017-06-05 20:24] kleinux opened #893 "Search all schemas for a name"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.12.2
- OS Version: Windows 10 Enterprise

When writing a SQL statement the auto-complete options that appear only show suggestions from the default schema. Can we get an option to show matches from all schemas if no schema is supplied?

For example suppose I have tables:
Sale.OrderItem
Reference.OrderItemHistory

If I wrote "select * from Ord" I

[2017-06-05 21:25] kevcunnane commented on #893
Thanks Chris, this is definitely the correct place to make feature requests. We will add this suggestion to our backlog and consider it in the future. We are mostly reusing the IntelliSense provider that comes from existing tools (SSMS & SSDT) so the fix would be in that code. It's very much valid however so we can see if this can be looked into sometime down the road.

[2017-06-06 17:26] kevcunnane commented on #887
I'm going to close this out for now - let us know if there's an issue after this.

[2017-06-06 17:26] #887 closed

[2017-06-07 01:44] jtterry2856 commented on #887
Sorry for late reply but your suggestion worked. Thanks!

[2017-06-07 02:02] kevcunnane commented on #887
@jtterry2856 glad you're unblocked!

[2017-06-07 17:57] plambhsa opened #894 "Unable to load connection profiles Error Message"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.12.2
- OS Version: OSX 10.12.5

Steps to Reproduce:

1. Add a Connection profile through MSSQL extension prompts
2. Restart VS Code
3. Cmd + Shift + C to connect

On that third step, an error shows up every time for me in VS Code:

`mssql: Error: Unable to load connection profiles from [/Users/pjlamb12/Library/Application Support/Code/User/setti

[2017-06-08 04:47] ed-alertedh commented on #718
@basabuber Could you please share what versions of VS Code / vscode-mssql / dotnet core you're having success with?

I'm experiencing this issue on Ubuntu 17.04 with VS Code 1.12.2 / vscode-mssql / dotnet 2.0.0-preview2-006127

[2017-06-08 07:09] kburtram commented on #718
@ed-alertedh @basabuber the current extension is built using .Net Core 1 which doesn't support Ubuntu 17.04.  We'll be upgrading to .Net Core 2 in the next release.

I've posted an early test build based on .Net Core 2 at https://github.com/Microsoft/vscode-mssql/releases/tag/v1.0.0-alpha.10 that can be side-loaded into VS Code using the Install From VSIX option.  The build has a couple known issu

[2017-06-08 10:43] MaximoTrinidad commented on #718
@kburtram,

That's Awesome!!  I'll give it try when I get a chance and let you know if anything is going on.

Thanks,
:)

[2017-06-08 10:53] mkurz commented on #718
@kburtram The alpha version with .Net Core 2 support finally works for me! Thank you! :+1:  (I am using Ubuntu 16.10)

[2017-06-08 10:55] mkurz commented on #785
You may want to try the latest alpha which includes .Net Core 2, it may fixes your issues:
https://github.com/Microsoft/vscode-mssql/issues/718#issuecomment-307018770

[2017-06-08 10:57] mkurz commented on #370
Guys, you may want to try the latest alpha which includes .Net Core 2, it may fixes your issues:
https://github.com/Microsoft/vscode-mssql/issues/718#issuecomment-307018770:
(Works for me)

[2017-06-08 10:57] mkurz commented on #419
You may want to try the latest alpha which includes .Net Core 2, it may fixes your issues:
https://github.com/Microsoft/vscode-mssql/issues/718#issuecomment-307018770:
(Works for me)

[2017-06-08 11:54] asmyers commented on #718
@kburtram The alpha version also works for me on Ubuntu 17.04!  Thanks! :+1:

[2017-06-08 19:35] kevcunnane commented on #889
Thanks Sterling for this suggestion. We'll add to our backlog and see if we do a sweep of IntelliSense improvements in the future.

[2017-06-09 01:07] ed-alertedh commented on #718
@kburtram Yep, that's working for me too, thanks!

As an aside, I'm still a little curious about the whole system of bundling a runtime with the sql service. Isn't the whole point of .NET that the code targets a certain framework and is decoupled from the runtime/host platform?

[2017-06-09 06:43] xsoheilalizadeh opened #895 "Add Table Icon In Intellisense"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.13.0
- OS Version: Win10

When I Write SQL do not show Table Icon side Tables Name, please do this.

![2017-06-09_11-11-38](https://user-images.githubusercontent.com/22220356/26963928-87d64c20-4d04-11e7-80ae-cfc119faacf5.gif)

[2017-06-10 01:27] kevcunnane commented on #280
This has finally been fixed by the latest VSCode update, 1.13. I am closing and can happily report that zoom now works as expected.

[2017-06-10 01:27] #280 closed

[2017-06-10 01:36] kevcunnane commented on #727
@AaronMBertrand - can you update to VSCode 1.13 and try again? It should now "just work" as VSCode has shipped an updated electron version with the fix.

[2017-06-13 16:26] erickangMSFT opened #896 "Installation of .NET Core 2.0 Preview 1 causes fail to load sqltoolservice."
1. Uninstall .NET Core 1.x
2. Install .NET Core 2.0 Preview 1.

Expected: mssql extension works without impacted
Actual: mssql extension fails to load. To fix, users has to uninstall and reinstall mssql extension.

[2017-06-13 16:28] erickangMSFT commented on #896
Repro on Windows 10.

[2017-06-14 15:45] jpda opened #897 "Connections in User Settings not available"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.14.0-insider
- OS Version: Windows 10 Ent x64 16215

Steps to Reproduce:

1. Follow the instructions [here](https://github.com/Microsoft/vscode-mssql/wiki/manage-connection-profiles) to add connection profiles to user settings
2. go to MS SQL: Connect in the command palette, or run MS SQL: Connect
3. No connection profiles are shown

![1-userset

[2017-06-14 15:52] jpda commented on #897
After finding issue #242 it makes sense. Copying settings.json to `.../Roaming/Code/User/settings.json` at least works until that is resolved.

[2017-06-14 15:52] #897 closed

[2017-06-14 17:30] kevcunnane commented on #895
So the request is not to show icons in the intellisense results?

[2017-06-15 20:00] oedenfield opened #898 "RESTORE DATABASE command not completing"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.13.1
- OS Version: Windows 10 Creators Update
- SQL Server Version: Microsoft SQL Server 2017 (CTP2.1) - 14.0.600.250 (X64) 	May 10 2017 12:21:23 	Copyright (C) 2017 Microsoft Corporation. All rights reserved.	Developer Edition (64-bit) on Linux (Ubuntu 16.04.2 LTS)

Steps to Reproduce:

1.  Run SQL Server on Linux in Docker.
2.  Connect to SQL

[2017-06-16 05:47] bg15407 opened #899 "Arch Linux mssql: The platform is not supported"
- MSSQL Extension Version:
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.Installed VSCode using yaourt
2.Installed ms-sql-server using yaourt and configured
3.installed Extension for mssql using extention marketplace for vscode
4.pressf1 in vscode and enter sqlcon then the
5.Error mssql: The platform is not supported apear

Please  help

[2017-06-16 19:42] hansvonn opened #900 "Debugger Support"
Is there any integration with the VS Code debugger. It would be pretty simple, e.g. run executes the statements, maybe even a flag to attach the debugger or not. Thank you all for the great implementation.

[2017-06-16 19:55] kevcunnane commented on #900
Not at present. This one is a little harder than you might think since SQL Servers debugger protocol is over DCOM (as far as I know) which is Windows specific, and we want the features to work on any platform. It's definitely something on our radar, but since for now it's blocked on dependencies I'll backlog it.

Thank you for the suggestion and we'll keep it open since it's a good request.

[2017-06-16 19:56] kevcunnane commented on #899
@benrr101 - did we add support / not block in our daily builds? I believe this will be fixed in our next release, correct?

[2017-06-16 20:18] gavincampbell commented on #718
Fixed for me too on Fedora 25, VS Code 1.13. Prior to taking the update I couldn't connect to a SQL instance in a local VM (with 1433 forwarded), even though sqlcmd could connect OK. I also got that "extension failed to load message >50% of the time when setting file type to SQL.

[2017-06-16 20:41] hansvonn commented on #900
Even executing the run from the Debugger menu might be nice to have, even if step in debugging doesn't work. This would allow the user to quickly select connections using a common interface. I realize you can manage connection profiles, which is great. In any case thank you for the reply and great work.

[2017-06-17 15:25] bg15407 commented on #899
Dear @benrr101  and @kevcunnane
I m using Manjaro
at the moment i edited my platform.js as a workaround
However i still cannot get it to connect to DB
it keep saying connecting and  also never saves the profiles
using Bash "sqlcmd -U SA -P ***** " i can get in to the sql and execute commands

Thank you for your feedback

[2017-06-17 22:16] henksandoval opened #901 "Ubuntu 16.04 mssql: SQL Tools Service component could not start."
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.13.1
- OS Version: Ubuntu 16.04

Good afternoon. I'm trying to use this tool because I really like to install it on my development environment on windows. But me is giving many problems to install it on Ubuntu

Steps to Reproduce:

1. Install extension
2. Type mssql and select vscode-mssql in the list of extensions
3. Visual Studio Code will sho

[2017-06-19 16:45] kevcunnane commented on #901
@henksandoval, sorry to hear you are running into this issue. We had reports of this a while back, and it seems the solution was to `apt-get install libunwind8`. This is a dependency for .Net Core and it appears that on some systems it is not there or causes problms

The thread is at https://github.com/Microsoft/vscode-mssql/issues/718. We are actively working on upgrading the tool to .Net Core 2.

[2017-06-19 16:50] kevcunnane commented on #899
@bg15407 It sounds like the tools service (built on .Net Core) is not starting correctly, which is a bad sign for Arch Linux support. We'd have to do more investigation, but one thing you could do is start the `Microsoft.SqlTools.ServiceLayer.exe` inside the SqlToolsService install folder with the `--enable-logging` param specified and see what is logged from it. This would give us an idea of why

[2017-06-20 07:24] guss77 commented on #901
Installing `libunwind8` doesn't solve the problem. I had to also install `liblldb-3.6` and manually install `libicu52` from https://packages.ubuntu.com/trusty-updates/libicu52 . After which the mssql extension loaded properly.

[2017-06-20 09:39] shwick opened #902 "Service component could not start when viewing diff"
- MSSQL Extension Version:1.0
- VSCode Version:1.13.1
- OS Version:Windows 10

Steps to Reproduce:

1. Work on a file in a git controlled folder
2. Save some changes to file
3. Find that file in VS Code's Source Control side panel
4. Open differences for that file

I get an error saying
`mssql: SQL Tools Service component could not start.`

Existing connections do not work and no new connections c

[2017-06-20 13:06] henksandoval commented on #901
Thank you very much for the information, today apply measures and inform you the result

[2017-06-22 12:40] nivek7 commented on #880
What version of SQL are you attempting to connect to?

I had a similar issue and it ended up being an issue that was specific to SQL 2008/R2. We have since upgraded SQL to 2014 with no issues. I was also connecting from Sierra.

[2017-06-22 20:02] SoheilAlizade commented on #895
@kevcunnane yes

[2017-06-28 17:12] julielerman opened #904 "Suggestion: Add Disconnect to status bar server connection shortcut"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.13.1
- OS Version: any

If you are connected to a sql server and click on the server info text in the status bar, that opens the "choose database" dialog.

Is it possible to change that behavior so you have the option to either choose a database or just disconnect?

[2017-06-28 17:29] kevcunnane commented on #902
@shwick I'm struggling to reproduce this on Windows or Mac. I updated to the latest VSCode, installed MSSQL cleanly and opened a Git diff window. No problems. I was even able to execute results on it. Some questions:
- Is there any chance it's a non-Git source code provider? We have filtering / handling for git URIs sent to the service, but not sure about other providers
- Does this only happen on

[2017-06-29 01:46] julielerman opened #905 "Inconsistent Connection Profile Settings (Encryption)"
- MSSQL Extension Version: 1.0
- VSCode Version: 1.13.1
- OS Version: Windows

Steps to Reproduce:
Save Password/No Encryption, connection timeout info
Connected to Azure SQL database
Choose YES to Save Password question

Resulting settings:
 "server": "mydbservername.database.windows.net",
            "database": "",
            "authenticationType": "SqlLogin",
            "user": "me",

[2017-06-29 14:55] lampij opened #906 "[Suggestion] Double clicking column header auto-sizes to result contents, not header text."
- MSSQL Extension Version: 1.0
- VSCode Version: 1.13.1
- OS Version: Win 7 Pro SP1

Steps to Reproduce:

1. Return result set where content length is greater then column header length
2. While cursor is in 'draggable' mode over left-hand side of header, double click.

[2017-06-29 23:53] benrr101 opened #907 "Remove "update" pattern for configuration in sqltoolsservice"
The pattern of having configuration update handlers that have to update the settings object is a mess. Let us remove it and never speak of it again.

[2017-06-30 02:14] FellipeMedeirosSilva opened #908 "Problem to connect on Amazon RDS"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.13.1
- OS Version: Mac OS Sierra

Steps to Reproduce:

1. Configure the connection to RDS Server
2. After a long time i receive a timeout message (I connect normally on sql management studio using same access url and login/password)

[2017-06-30 08:46] TechWatching opened #909 "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON' on linked server"
- MSSQL Extension Version: 1.0.0
- VSCode Version: 1.13.1
- OS Version: Windows 8.1 Entreprise

Steps to Reproduce:

1. Connect to a SQL Server with "authenticationType": "Integrated"
2. Do a select request with a join on the table of a linked server
3. The following error appears : Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'

Other requests work correctly.
This works correctly on SSMS so

[2017-06-30 11:30] clayton006 opened #910 "Feature: Support SQL on Linux Availability Group Syntax"
- MSSQL Extension Version: 1.0
- VSCode Version: 1.13.1
- OS Version: Windows 10 Creators Edition

Feature:

1. Add syntax support for SQL on Linux Availability Groups for FAILOVER_MODE = EXTERNAL when creating an availability group.
2. Add syntax support for SQL on Linux Availability Groups for CLUSTER_TYPE = EXTERNAL when joining availability group.

[2017-06-30 18:20] kevcunnane commented on #909
This looks like the same issue in #778. The root problem here is in the SqlClient implementation for .Net Core - we're relaying the messages as sent by them. I'd recommend opening an issue against  https://github.com/dotnet/corefx as that's where the correct fix would be.

[2017-06-30 18:48] kevcunnane commented on #910
@clayton006 could you give a full example of the syntax? Is the issue that IntelliSense is showing it as an error, and if so does the latest SSMS release (17.1) also have this error? If it's fixed, an update of the Intellisense DLLs we use should be enough to resolve this.